* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

html {
    font-size: 10px;
}

.separator {
    margin-bottom: 15px;
    position: relative;
    width: 250px;
    height: 5px;
    background: linear-gradient(to right, #3fb698 25%, #9aecd8 100%);
}

.padding-10 {
    padding: 10px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-left-15 {
    margin-left: 15px;
}

.top-m-20 {
    margin-top: 20px;
}

.top-m-40 {
    margin-top: 40px;

}

.top-m-50 {
    margin-top: 50px;

}

.top-m-100 {
    margin-top: 100px;

}

.top-m-150 {
    margin-top: 150px;

}

.bot-m-100 {
    margin-bottom: 100px;
}

.bottom-m-100 {
    margin-bottom: 100px;
}

.mobile-menu {
    padding: 10px;
}

.remove-line a {
    text-decoration: none;
}

/* *******************************************Resusable************************************************** */

.nav li a:after {
    content: '|';
    font-family: 'FontAwesome';
    position: relative;
    /* width: 252px; */
    text-align: center;
    line-height: 3rem;
    height: 5rem;
    opacity: .5;
    right: -.6rem;

}

.navbar-toggler.custom-btn {
    position: absolute;
    cursor: pointer;
    top: 1rem;
    margin-left: 80%;

}

.top-m-100 {
    margin-top: 10rem;

}

.margin-right-40 {
    margin-right: 20%;
}

.size-15 {
    font-size: 2rem !important;
}

button.custom-btn div.line-menubar {
    height: .3rem;
    width: 3rem;
    margin: .5rem 0rem;
    background-color: #bd6f29;
}

button.navbar-toggler {
    border: azure .2rem solid !important;
}

button.navbar-toggler:hover {
    border: #bd6f29 .2rem solid !important;
}

.dropdown-menu {
    background-color: #302c38 !important;
}

.dropdown-menu a {
    color: azure !important;
}

.header {
    background: #bd6f29;
    color: azure;
    z-index: 2;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 4.4rem;
}

.header .fa {
    transform: rotate(19deg);
    margin-right: 10px;
}

.nav li a {
    color: azure;
    width: .2rem;
    font-weight: 300;
    font-size: 2rem;
    margin-right: 1.2rem;
    border-radius: 50%;

}

.navbar-brand {
    width: 35%;
    height: auto;
}

div.navbar {
    background-color: #f2f2f2 !important;
    font-weight: 500 !important;
    font-size: 1.5rem !important;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #302c38 !important;
    /* position: fixed; */

}

.fwc_pa {
    /* font white color on p and a */
    text-decoration: none;
    color: azure;
    margin-left: 2rem;
    font-weight: 500;
    /* font-size: 20px; */
    font-size: 2rem;
}

.navbar-nav a:hover {
    color: #bd6f29;
    text-decoration: none;

}

@media screen and (max-width:740px) {
    .margin-right-40 {
        margin-right: 100% !important;
    }

    .dropdown-menu {
        background-color: #302c38 !important;
    }

    .dropdown-menu a {
        color: azure !important;
    }

    .size-15 {
        font-size: 1.6rem !important;
    }

    .top-marg-10 {
        margin-top: 1rem;
    }

    .navbar-toggler.custom-btn {
        position: absolute;
        cursor: pointer;
        top: 1rem;
        margin-left: 80%;

    }

    .navbar-brand {
        width: 60% !important;
    }

    .header {
        line-height: 3rem;
    }
}

/************************* START:- BANNER SECTION ***************************** */
.banner {
    background-image: url(../images/expiance2.jpg);
    height: 60rem;
    position: relative;
    overflow: hidden;
    padding: 160px 0px 160px;
    background-size: cover;
    max-width: 100%;

}

.banner-color {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.3);
}


.digit_text {
    z-index: 12;
    font-family: Barlow;
    height: auto;
    color: rgb(255, 255, 255);
    white-space: normal;
    width: 650px;
    line-height: 85px;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 75px;

}


.first_text {

    z-index: 11;
    font-family: 'Oswald', sans-serif;
    height: auto;
    color: rgb(255, 255, 255);
    white-space: normal;
    width: 650px;
    line-height: 26px;
    font-size: 17px;

}


.main_btn {
    background: #bd6f29;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    line-height: 58px;
    padding: 0px 33px;
    font-weight: 600;
    font-size: 13px;
    margin-top: 5rem;
    /* border-radius: 10px; */
}

.main_btn:hover {
    background-color: #3fb698 !important;
    color: azure;
}

/************************* END:- BANNER SECTION ***************************** */
/*************************** START:- 1ST SECTION ********************************/

.auto-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

.banner1 {
    position: relative;
    padding: 100px 0px 70px;
    background-color: #302c38;
}

.banner1 .content-column {
    position: relative;
    margin-bottom: 30px;
}

.sec-title h2 {
    margin-bottom: 30px;
    position: relative;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2em;
    color: #ffffff;
    margin-top: 10px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.centered {
    text-align: center !important;
}

.sec-title .title {
    position: relative;
    color: #bd6f29;
    font-size: 16px;
    font-weight: 700;
    display: block;
    margin-bottom: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.banner1 .image1 {
    width: 100%;
    height: auto;

}

.banner1 .sec-title .icon {
    position: relative;
    font-size: 70px;
    color: #bd6f29;
    display: block;
    line-height: 1em;
    margin-bottom: 15px;
}

.banner1 .sec-title h1 {
    position: relative;
    font-weight: 700;
    font-size: 35px;
    line-height: 1.2em;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: livvic, sans-serif;
}

.banner1 h2 {
    position: relative;
    font-weight: 700;
    font-size: 33px;
    line-height: 1.5;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
    /* width: 525px; */
    width: 100%;
}

.banner1 .text {
    position: relative;
    color: #bbbbbb;
    font-size: 16px;
    line-height: 1.7em;
    margin-bottom: 20px;
    width: 100%;
    font-weight: 400;
}

.banner1 .icon li {
    position: relative;
    font-size: 20px;
    /* color: #bd6f29; */
    /* color: #fff; */
    color: #bbbbbb;
    display: block;
    line-height: 1em;
    margin-bottom: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 252px;
}

.banner1 .icon li i {
    /* background-color: #bd6f29;
    border-radius: 20px;
    color: #fff;
    font-size: 16px; */
    background-color: #bd6f29;
    color: #fff;
    margin-right: 20px;
    font-size: 14px;
    padding: 3px;
    border-radius: 10px;

}

.banner1 .icon li:hover {
    position: relative;
    font-size: 20px;
    color: #3fb698;
    display: block;
    line-height: 1em;
    margin-bottom: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}




/*************************** END:- 1ST SECTION ********************************/

/*************************** START:- 2nd SECTION ********************************/


.banner2 {
    background-color: azure;
    height: 100%;
}

.banner2 .case-details .part-img img {
    width: 100%;
    margin-top: 100px;
    height: 100%;

}

.banner2 .case-details .text h2 {
    font-size: 4rem;
    font-weight: 800;
    color: #232323;
    line-height: 52px;
    margin: 40px 0 19px;
    font-family: livvic, sans-serif;

}

.banner2 .case-details .text p {
    font-size: 16px;
    line-height: 28px;
    color: #72839a;
    font-weight: 500;
    /* width: 1120px; */

}

.banner2 .case-details .text-box {
    border: 1px solid #3fb698;
    padding: 40px;
    margin: 25px 0 0;
    width: 424px;
    height: 322px;
    align-items: center;
    margin-top: 10px;
}

.banner2 .case-details .text-box h4 {
    font-size: 26px;
    line-height: 34px;
    color: #232323;
    font-weight: 800;
    margin-bottom: 25px;
    /* margin-left: 35px; */
    font-family: "Montserrat", sans-serif;
}

.banner2 .case-details .text-box p {
    font-size: 20px;
    line-height: 28px;
    color: #72839a;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

.banner2 .case-details .padding-2 {
    /* padding-right: 0px; */
    padding-left: 100px;
}

.banner2 .case-details .padding-1 {
    padding-right: 0px;
    padding-left: 0px;
}

.border-box {
    position: absolute;
    right: 75px;
    bottom: -1px;
    width: 50px;
    height: 50px;
    border-right: 5px solid #bd6f29;
    border-bottom: 5px solid #bd6f29;
    transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -webkit-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
}

.border-box1 {
    position: absolute;
    top: 8px;
    left: 98px;
    width: 50px;
    height: 50px;
    border-top: 5px solid #bd6f29;
    border-left: 5px solid #bd6f29;
    transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -webkit-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
}

.banner2 .text-box:hover .border-box {
    width: 71%;
    height: 98%;
}

.banner2 .text-box:hover .border-box1 {
    width: 71%;
    height: 98%;
}

.border-boxl {
    position: absolute;
    right: 158px;
    bottom: -1px;
    width: 50px;
    height: 50px;
    border-right: 5px solid #bd6f29;
    border-bottom: 5px solid #bd6f29;
    transition: all 600ms ease;

}

.border-boxl1 {
    position: absolute;
    top: 8px;
    left: 12px;
    width: 50px;
    height: 50px;
    border-top: 5px solid #bd6f29;
    border-left: 5px solid #bd6f29;
    transition: all 600ms ease;

}

.banner2 .text-box:hover .border-boxl {
    width: 71%;
    height: 98%;
}

.banner2 .text-box:hover .border-boxl1 {
    width: 71%;
    height: 98%;
}

/*************************** END:- 2nd SECTION ********************************/

/*************************** START:- 3rd SECTION ********************************/


.banner3 {
    margin-bottom: 50px;
    height: 100%;
    margin-top: 100px;

}

.banner3 .section-img img {
    width: 100%;
    margin-top: 35px;
    height: auto;
}

.section-title h2 {
    position: relative;
    font-weight: 700;
    font-size: 35px;
    line-height: 1.2em;
    color: #232323;
    margin-bottom: 30px;
    font-family: livvic, sans-serif;
}

.section-title p {
    position: relative;
    color: #333333;
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Oswald', sans-serif;
}

.banner3 .boxes {

    border: 1px solid #3fb698;
    margin-bottom: 15px;
}

.banner3 .box-container {
    margin-left: 25px;
}

.banner3 .text h3 {
    margin-top: 10px;
    font-size: 20px;
    line-height: 34px;
    color: #232323;
    font-weight: 800;
    margin-bottom: 25px;
    /* margin-left: 35px; */
    font-family: 'Oswald', sans-serif;
}

.banner3 .text h3 i {
    background-color: #bd6f29;
    color: #fff;
    margin-right: 20px;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
}

.banner3 .text p {
    position: relative;
    color: #333333;
    font-size: 16px;
    display: block;
    margin-bottom: 15px;
    line-height: 1.7;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 25px;
}

/* .banner3.section-img img {
    width: 573px;
    height: 553px;
} */





/*************************** END:- 3rd SECTION ********************************/

/*************************** START:- MOBILE RESPONSIVE  ********************************/

/************************* START:- BANNER SECTION ***************************** */


@media screen and (max-width: 768px) {

    /* START */
    .margin-right-40 {
        margin-right: 125px !important;
    }

    .dropdown-menu {
        background-color: #302c38 !important;
    }

    .dropdown-menu a {
        color: azure !important;
    }

    /* END */
    .ban-img {
        height: 50rem;
    }

    .left-m-25 {
        margin-left: 15px;
    }

    .digit_text {
        z-index: 12;
        font-family: Barlow;

        width: 100%;
        line-height: 45px;
        letter-spacing: 0px;
        font-weight: 700;
        font-size: 3.7rem;

    }

    .first_text {
        color: #fff;
        z-index: 12;
        font-family: 'Oswald', sans-serif;
        width: 100%;
        line-height: 26px;
        font-weight: 700;
        font-size: 16px;

    }

    .main_btn {
        margin-top: 45px;
        margin-left: 0px;
        font-size: 12px;

    }
}

/************************* END:- BANNER SECTION ***************************** */

/********************* START:- 1ST SECTION ********************************** */
@media screen and (max-width: 1200px) {


    .banner1 .image1 {
        max-width: 100%;
        height: auto;
        border-radius: 10px;

    }

    .banner1 .text {
        max-width: 100%;

    }

    .banner1 h2 {
        /* margin-left: 20px; */
        width: 100%;
        position: relative;
        font-weight: 700;
        font-size: 24px;
        line-height: 3.2rem;
        color: #bbbbbb;
        margin-top: -30px;
        margin-bottom: -50px;
    }

    .banner1 .icon li {
        position: relative;
        font-size: 19px;
        color: #bd6f29;
        display: block;
        margin-bottom: 10px;
        margin-bottom: 0px;
    }

}

/********************* END:- 1ST SECTION ********************************** */
/********************* START:- 2nd SECTION ********************************** */

@media screen and (max-width: 1200px) {


    .banner2 .case-details .text-box {
        border: 1px solid #3fb698;
        padding: 40px;
        margin: 25px 0 0;
        width: 100%;
        height: 322px;
        align-items: center;
        margin-top: 10px;
    }

    .banner2 .case-details .padding-2 {
        /* padding-right: 0px; */
        padding-left: 15px;
    }

    .border-box1 {
        top: 8px;
        left: 12px;

    }

    .border-box {
        right: 12px;
        bottom: -1px;

    }

    .banner2 .text-box:hover .border-box {
        width: 93%;
        height: 98%;
    }

    .banner2 .text-box:hover .border-box1 {
        width: 93%;
        height: 98%;
    }

    .border-boxl {

        right: 12px;
        bottom: -1px;


    }

    .border-boxl1 {

        top: 8px;
        left: 12px;
    }

    .banner2 .text-box:hover .border-boxl {
        width: 93%;
        height: 98%;
    }

    .banner2 .text-box:hover .border-boxl1 {
        width: 93%;
        height: 98%;
    }
}


/********************* START:- 3rd SECTION ********************************** */

@media screen and (max-width: 768px) {


    /* .banner3 .section-img img {
        width: 382px;
        height: 310px !important;
        border-radius: 10px;
    } */
    .banner3 .section-img img {

        margin-top: 5px;
        border-radius: 20px ! important;
    }

    .banner3 .box-container {
        text-align: center;
    }

    .banner3 .text p {
        margin-right: 15px;
    }

}

/*************************** END:- MOBILE RESPONSIVE  ********************************/

/************************* START:- FOOTER SECTION ***************************** */



.footer-color {
    background: #302c38;
    height: 35rem;
    margin-top: -2rem;
}

.green {
    color: #3fb698 !important;
}

.p_a {
    color: #fff;
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 5rem;
    /* margin: 0 0 39px; */
}

.p_a span {
    color: #3fb698;
    font-family: "Poppins", sans-serif;
}

.social li {
    display: inline-block;
}

.social li a {
    background: #fff none repeat scroll 0 0;
    border-radius: 10rem;
    color: #3fb698;
    display: block;
    font-size: 1.6rem;
    height: 4rem;
    line-height: 4rem;
    margin-right: .8rem;
    text-align: center;
    width: 4rem;
}

.social li a:hover {
    background: #3fb698 none repeat scroll 0 0;
    color: #fff;
}

.f_pa {
    /* font white color on p and a */
    text-decoration: none;
    color: azure;
    /* margin-left: 20px; */
    font-weight: 200;
    font-size: 1.5rem;
}

.subtf_pa {
    text-decoration: none;
    color: azure !important;
    font-weight: 500;
    font-size: 2.5rem;
}

.separator-f {
    margin-bottom: 1.5rem;
    position: relative;
    width: 100%;
    height: .1rem;
    background: linear-gradient(to right, #3fb698 25%, #9aecd8 100%);
}

.hvc li a:hover {
    color: #3fb698;
    text-decoration: none;
}


.rotate-right {
    transform: rotate(270deg);
}

.padding-20 {
    padding: 2rem;
}

.padding-l-20 {
    padding-left: 2rem;
}

.padding-r-20 {
    padding-right: 2rem;
}

.padding-t-20 {
    padding-top: 2rem;
}

.padding-b-20 {
    padding-bottom: 2rem;
}

.padding-20 {
    padding: 2rem;
}

.padding-15 {
    padding: 1.5rem;
}

.padding-0 {
    padding: 0rem;
}

.left-m-10 {
    margin-left: 1rem;
}

.auto-hide-downcursor {
    display: none;
}

.subtf {
    text-decoration: none;
    color: azure !important;
    font-weight: 500;
    font-size: 1.5rem;
}

.ft_size {
    font-size: 1.6rem;
}

.footer-color .footer-list ul li a {
    color: azure;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

.dropdown-content span:hover {
    color: #bd6f29;
}

.remove-line {
    text-decoration: none;
}

.footer-color .remove-line a span:hover {
    color: #bd6f29;
}


.footer-color .left-m-40 {
    margin-left: 38%;
}

.footer-color .footer-section li a {
    color: azure;
    width: 2px;
    font-weight: 300;
    font-size: 10px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}



.footer-section li a:hover {
    color: #bd6f29 !important;
}

.footer-section li a:after {
    content: '|';
    font-family: 'FontAwesome';
    position: relative;
    /* width: 252px; */
    text-align: center;
    line-height: 3rem;
    height: 5rem;
    opacity: .5;
    right: -.4rem;

}

/********************* START:- FOOTER MOBILE SECTION ******************************** */
.dropdown {
    position: relative;
    display: inline-block;
    width: 36.5rem;
}


@media screen and (max-width: 1200px) {
    .auto-hide {
        display: none;
    }

    .h_bch {
        height: 100rem;
    }

    .m_cf {
        margin-top: 5.2rem;
        font-size: 3rem;

    }

    .l-m {
        font-size: 2rem;
        line-height: 3rem;
    }
}

@media screen and (max-width:1200px) {
    .footer-list ul {
        margin-left: 10px;
    }

    .subtf_pa {
        text-decoration: none;
        color: azure !important;
        font-weight: 500;
        /* font-size: 10px; */
    }

    .btn-border {
        background-color: inherit;
        border: 0.2rem solid #3fb698;
    }

    .footer-color {
        height: auto;
    }

    .col_d {
        flex-direction: column;
    }

    .size-15 {
        font-size: 1.5rem;
    }

    .padding-20 {
        padding: 2rem;
    }

    .padding-l-20 {
        padding-left: 2rem;
    }

    .padding-r-20 {
        padding-right: 2rem;
    }

    .padding-t-20 {
        padding-top: 2rem;
    }

    .padding-b-20 {
        padding-bottom: 2rem;
    }

    .padding-20 {
        padding: 2rem;
    }

    .padding-15 {
        padding: 1.5rem;
    }

    .padding-0 {
        padding: 0rem;
    }

    .left-m-10 {
        margin-left: 1rem;
    }

    .left-m-100 {
        margin-left: 10rem;

    }

    .left-m-120 {
        margin-left: 12rem;
    }

    .left-m-175 {
        margin-left: 17.5rem;
    }

    .left-m-210 {
        margin-left: 21rem;
    }

    .left-m-230 {
        margin-left: 23rem;
    }

    .left-m-275 {
        margin-left: 27.5rem;
    }

    .separator {
        margin-left: 2rem;
    }

    .hvc {
        margin-left: 1rem;
        line-height: 2.5rem;

    }

    .f_ms {
        font-size: 1.2rem;
        margin-left: -.2rem;
    }


}


@media screen and (max-width:1200px) {
    .dropdown-content {
        display: none;
        position: relative;
        margin-top: 20px;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        width: 365px;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .footer-color .left-m-40 {
        margin-left: 10%;
    }
}