* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

/* 
html {
    font-size: 16px;
} */

.top-m-100 {
    margin-top: 10rem;

}

.margin-right-40 {
    margin-right: 20%;
}

.size-15 {
    font-size: 20px !important;
}

.top-m-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.top-m-25 {
    margin-top: 25px;
}

.top-m-50 {
    margin-top: 50px;
}

.centered {

    text-align: center !important;
}

.remove-line a {
    text-decoration: none;
}

/* *******************************************Resusable************************************************** */

.separator {
    margin-bottom: 15px;
    position: relative;
    width: 250px;
    height: 5px;
    background: linear-gradient(to right, #3fb698 25%, #9aecd8 100%);
}

.nav li a:after {
    content: '|';
    font-family: 'FontAwesome';
    position: relative;
    /* width: 252px; */
    text-align: center;
    line-height: 30px;
    height: 5rem;
    opacity: .5;
    right: -.4px;

}

.navbar-toggler.custom-btn {
    position: absolute;
    cursor: pointer;
    top: 1px;
    margin-left: 80%;

}

button.custom-btn div.line-menubar {
    height: .30px;
    width: 30px;
    margin: .5rem 0rem;
    background-color: #bd6f29;
}

button.navbar-toggler {
    border: azure .20px solid !important;
}

button.navbar-toggler:hover {
    border: #bd6f29 .20px solid !important;
}

.dropdown-menu {
    background-color: #302c38 !important;
}

.dropdown-menu a {
    color: azure !important;
}

.header {
    background: #bd6f29;
    color: azure;
    z-index: 2;
    font-weight: 300;
    font-size: 15px;
    line-height: 3.4rem;
}

.header .fa {
    transform: rotate(19deg);
    margin-right: 10px;
}

.nav li a {
    color: azure;
    width: .20px;
    font-weight: 300;
    font-size: 20px;
    margin-right: 1.20px;
    border-radius: 50%;

}

.navbar-brand {
    width: 35%;
    height: auto;
}

div.navbar {
    background-color: #f2f2f2 !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #302c38 !important;
    /* position: fixed; */

}

.fwc_pa {
    /* font white color on p and a */
    text-decoration: none;
    color: azure;
    margin-left: 20px;
    font-weight: 500;
    /* font-size: 20px; */
    font-size: 20px;
}

.navbar-nav a:hover {
    color: #bd6f29;
    text-decoration: none;

}

@media screen and (max-width:768px) {
    .margin-right-40 {
        margin-right: 100% !important;
    }

    .dropdown-menu {
        background-color: #302c38 !important;
    }

    .dropdown-menu a {
        color: azure !important;
    }

    .size-15 {
        font-size: 14px !important;
    }

    .top-marg-10 {
        margin-top: 1px;
    }

    .navbar-toggler.custom-btn {
        position: absolute;
        cursor: pointer;
        top: 10px;
        margin-left: 75%;

    }

    .navbar-brand {
        width: 60% !important;
    }

    .header {
        line-height: 30px;
    }
}


/************************* START:- BANNER SECTION ***************************** */
.ban-img {
    background-image: url(../images/Meets_us-banner-img.jpg);
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 160px 0px 160px;
    background-size: cover;
    width: 100%;

}

/* .banner-color {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.4);
} */


.digit_text {

    z-index: 12;
    font-family: Barlow;
    height: auto;
    color: #fff;
    white-space: normal;
    line-height: 85px;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 60px;

}

.banner .menu li {
    display: inline-block;
    position: relative;
    padding: 0 19px;
    color: #fff;
}

.banner .menu li a {
    color: #fff;
    font-size: 16px;
}

.banner .menu li span:before {
    content: "||";
    display: inline-block;
    padding-bottom: 0;
    position: absolute;
    top: 0px;
    color: #fff;
    left: -7px;
}

/* 
.first_text {

    z-index: 11;
    font-family: 'Oswald', sans-serif;
    height: auto;
    color: #fff;
    white-space: normal;
    line-height: 26px;
    font-size: 20px;
    margin-top: 20px;

} */




/************************* END:- BANNER SECTION ***************************** */


/* ***********************************START:- About_Us SECTION **************************** */

.banner1 {
    height: auto;
    position: relative;
    overflow: hidden;
    /* background-color: azure; */
    background-color: #232323;
}

.banner1 .section-img img {
    width: 100%;
    height: auto;
}

.banner1 .bottom-m {
    margin-bottom: 50px;
}

.banner1 .section-text h6 {

    position: relative;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2em;
    /* color: #333; */
    color: #bbbbbb;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.banner1 .section-text h1 {
    margin-bottom: 30px;
    position: relative;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2em;
    /* color: #232323; */
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

.banner1 .section-text .text p {
    position: relative;
    /* color: #333; */
    color: #bbbbbb;
    font-size: 16px;
    line-height: 1.7em;
    font-weight: 400;
    margin-bottom: 35px;
}

.banner1 .main_btn a {
    background: #bd6f29;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    line-height: 58px;
    padding: 0px 33px;
    font-weight: 600;
    font-size: 13px;
    border-radius: 5px;
}

.banner1 .main_btn a:hover {
    background-color: #3fb698 !important;
    color: azure;
}





/********************* END:-About_Us SECTION ******************************** */
/* *********************************** START:- Team SECTION **************************** */


.banner2 {
    background-color: azure;
    height: auto;
    width: 100%;
}

.auto-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}


.banner2 .subtitle h3 {
    font-family: "Oswald", sans-serif;
    font-size: 50px;
    line-height: 40px;
    color: #232323;
    font-weight: 700;
    line-height: 60px;
}

.banner2 .text p {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    color: #333;
    font-weight: 400;
    line-height: 1.7em;
}

.team-block .image-box {
    position: absolute;
    left: -70px;
    top: -40px;
    width: 210px;
    display: block;
    overflow: hidden;
    box-shadow: 0px 10px 40px 0px rgb(8 13 62 / 20%);
}

.banner2 .image-wrapper {
    position: relative;
}

.banner2 .image-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-out;
}

.banner2 .image-hover:hover {
    opacity: 1;
}

.banner2 .box-container {
    margin-top: -35%;
    background-color: #fff;
    padding: 17px 42px 17px 42px;
    box-shadow: 0px 10px 40px 0px rgb(8 13 62 / 20%);
    width: 90%;
    height: auto;
    margin-bottom: 50px;
    margin-left: 50px;
}

.banner2 .image-box img {
    /* margin-left: -100px;
    margin-top: -75px; */
    box-shadow: 0px 10px 40px 0px rgb(8 13 62 / 20%);
}



.banner2 .box-container .DetailsBox {
    margin-left: 40%;
}

.banner2 .box-container .DetailsBox .name h3 {
    z-index: 12;
    font-family: Barlow;
    height: auto;
    color: #232323;
    white-space: normal;
    line-height: 55px;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 30px;
}

.banner2 .box-container .DetailsBox .name p {
    color: #bd6f29;
    font-size: 16px;
}

.banner2 .box-container .DetailsBox .text p {
    color: #333;
    font-size: 16px;
    font-family: "Oswald", sans-serif;
}

.banner2 .social li {
    display: inline-block;
}

.banner2 .social li a {

    background: #bd6f29;
    border-radius: 100px;
    color: #fff;
    display: block;
    font-size: 20px;
    height: 55px;
    line-height: 55px;
    margin-right: 5px;
    text-align: center;
    width: 55px;
}

.banner2 .social li a:hover {
    background: #3fb698 none repeat scroll 0 0;
    color: #fff;
}


.banner2 .inner-box .border-box {
    position: absolute;
    right: 16px;
    bottom: 45px;
    width: 50px;
    height: 50px;

    border-right: 5px solid #bd6f29;
    border-bottom: 5px solid #bd6f29;
    transition: all 600ms ease;

}

.banner2 .person-details:hover .border-box {
    width: 87%;
    height: 72%;
}

/* ***********************************END:-Team SECTION **************************** */

/* *********************************** START:-Locations SECTION **************************** */

.banner3 .section-title h1 {
    font-size: 40px;
    line-height: 52px;
    position: relative;
    display: block;
    color: #232323;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.banner3 .section-title p {
    font-size: 16px;
    line-height: 20px;
    position: relative;
    display: block;
    color: #333;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 30px;
}


.locations-section {
    position: relative;
    padding: 120px 0px;
}

.locations-section .map-box {
    position: relative;
    display: block;
    width: 100%;
}

.locations-section .map-box .map-image {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
}


.locations-section .map-box .map-image img {
    display: block;
    width: 100%;
}

.locations-section .map-box .location-point {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 20px;
    height: 20px;
    border: 2px solid #bd6f29;
    background: none;
    cursor: pointer;
    border-radius: 50%;
}

.locations-section .map-box .location-point:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 6px;
    height: 6px;
    background: #bd6f29;
    margin: -3px 0px 0px -3px;
    border-radius: 50%;
}

.locations-section .map-box .location-point .inner {
    position: absolute;
    left: 7px;
    bottom: 100%;
    margin-bottom: 25px;
    width: 200px;
    padding: 15px 20px;
    line-height: 24px;
    color: #fff;
    background: #3fb698;
    -ms-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05), 0px 20px 30px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05), 0px 20px 30px 0px rgba(0, 0, 0, 0.05);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    opacity: 0;
    visibility: hidden;

}

.locations-section .map-box .location-point .inner:before {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    border: 7px solid transparent;
    border-top: 7px solid #3fb698;
    border-left: 7px solid #3fb698;
}

.locations-section .map-box .location-point:hover .inner {
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

.locations-section .map-box .loc-one {
    left: 11%;
    top: 17%;
}

.locations-section .map-box .loc-two {
    left: 20%;
    top: 23%;
}

.locations-section .map-box .loc-three {
    left: 26%;
    top: 62%;
}


.locations-section .map-box .loc-eleven.location-point .inner,
.locations-section .map-box .loc-two.location-point .inner,
.locations-section .map-box .loc-six.location-point .inner,
.locations-section .map-box .loc-five.location-point .inner,
.locations-section .map-box .loc-seven.location-point .inner {
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}

.locations-section .map-box .loc-four {
    left: 23%;
    top: 80%;
}

.locations-section .map-box .loc-five {
    left: 43%;
    top: 18%;
}

.locations-section .map-box .loc-six {
    left: 44%;
    top: 19%;
}

.locations-section .map-box .loc-seven {
    left: 71%;
    top: 46%;
}

.locations-section .map-box .loc-eight {
    left: 52%;
    top: 70%;
}

.locations-section .map-box .loc-nine {
    left: 60%;
    top: 15%;
}

.locations-section .map-box .loc-ten {
    left: 80%;
    top: 16%;
}

.locations-section .map-box .loc-eleven {
    left: 71%;
    top: 34%;
}


.locations-section .map-box .loc-twelve {
    left: 90%;
    top: 77%;
}


/* *********************************** END:-Locations Maps SECTION **************************** */


/* *********************************** START:-Locations SECTION **************************** */

.locations1 .left-m-50 {
    margin-left: 80px;
    margin-bottom: 50px;
}

.locations1 .located h1 {
    font-size: 45px;
    line-height: 52px;
    position: relative;
    display: block;
    color: #232323;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.locations1 .located-details h2 {
    font-size: 20px;
    line-height: 42px;
    position: relative;
    display: block;
    color: #232323;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 5px;
    width: 250px;
    font-family: 'Oswald', sans-serif;
}

.locations1 .located-details p {
    font-size: 16px;
    line-height: 20px;
    color: #333;
    margin-bottom: 20px;
    width: 200px;
    font-family: 'Oswald', sans-serif;
}

.locations1 .located-details span {
    font-size: 18px;
    line-height: 20px;
    color: #232323;
    font-weight: 400;
    margin-bottom: 20px;
    width: 200px;
    font-family: 'Oswald', sans-serif;
}


/* *********************************** START:- Contact  SECTION *********************************************  */

.banner4 {
    background-image: url(../images/contact-banner-img.jpg);
    height: 35rem;
    width: 100%;

}

.banner4 .top-m-30 {
    margin-top: 50px;
}

.bannner4 .top-100 {
    margin-top: 100px;
}

.banner4 .contact-img img {
    width: 100%;
    height: auto;
}

.banner4 .information {
    margin-left: 25%;
}

.banner4 .information .text p {
    position: relative;
    font-family: 'Oswald', sans-serif;
    color: #333;
    font-size: 20px;
    line-height: 1.7em;
    font-weight: 400;
    margin-bottom: 35px;
}

.banner4 .information .icon h6 {
    font-size: 15px;
    margin-right: 20px;
    /* width: 54px; */
    /* font-weight: 700; */
    color: #bd6f29;
}

.banner4 .information .icon span {
    transform: rotate(19deg);
    margin-right: 10px;
}

.banner4 .information .icon i {
    margin-right: 10px;
}


.banner4 .information .main-content {
    margin-left: 60px;
    /* margin-top: -45px; */

}

.banner4 .information .main-content .heading {
    position: relative;
    font-family: 'Oswald', sans-serif;
    /* color: #232323; */
    color: #3fb698;
    font-size: 20px;
    /* line-height: 1.7em; */
    font-weight: 400;
    /* margin-bottom: 0px; */
    text-transform: uppercase;
}

.banner4 .information .main-content p {
    position: relative;
    font-family: 'Oswald', sans-serif;
    /* color: #3fb698; */
    color: #232323;
    font-size: 15px;
    /* line-height: 1.7em; */
    /* font-weight: 700; */
    /* margin-bottom: 10px; */
}

/*  *********************************** START:- Contact  SECTION *********************************************  */


/********************* START:-BANNER MOBILE SECTION ******************************** */

/* ************************ START:- BANNER SECTION ***************************** * */
@media screen and (max-width: 768px) {

    /* START */
    .margin-right-40 {
        margin-right: 125px !important;
    }

    .dropdown-menu {
        background-color: #302c38 !important;
    }

    .dropdown-menu a {
        color: azure !important;
    }

    /* END */
    .ban-img {
        height: auto;
        width: 100%;
    }

    .left-m-25 {
        margin-left: 25px;
    }

    .digit_text {
        z-index: 12;
        font-family: Barlow;
        max-width: 100%;
        line-height: 45px;
        letter-spacing: 0px;
        font-weight: 700;
        font-size: 3.7rem;

    }

    .first_text {
        color: #fff;
        z-index: 12;
        font-family: 'Oswald', sans-serif;
        width: 100%;
        line-height: 26px;
        font-weight: 700;
        font-size: 16px;

    }

    .main_btn {
        margin-top: 10px;
        margin-left: 26px;
        font-size: 12px;

    }
}

/************************* END:- BANNER SECTION ***************************** */

/* ************************ START:- Responsive  About_Us SECTION ***************************** * */
@media screen and (max-width: 768px) {
    .banner1 .top-m-100 {
        margin-top: 5rem;
    }

    .banner1 .section-img img {
        margin-bottom: 30px;
    }

    .banner1 .section-text h6 {
        margin-top: 30px;
        font-size: 1.3rem;
    }

    .banner1 .section-text h1 {
        font-size: 35px;
    }
}

/* ************************ END:- Responsive  About_Us SECTION ***************************** * */

/* *********************************** START:- Responsive Team  SECTION ********************************************* */
@media screen and (max-width: 425px) {
    .banner2 .subtitle h3 {
        font-family: "Oswald", sans-serif;
        font-size: 30px;
    }

    .banner2 .top-m-50 {
        margin-top: 10px;
    }

    .banner2 .image-box img {
        margin-left: 25%;
    }

    .banner2 .box-container {

        width: 85%;
        height: auto;
        margin-bottom: 50px;
        margin-left: 36px;
    }

    .banner2 .box-container .DetailsBox {
        margin-top: 150px;
        margin-left: 0%;
    }

    .banner2 .social li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 18px;
    }

    .banner2 .inner-box .border-box {
        position: absolute;
        right: 32px;
    }

    .banner2 .person-details:hover .border-box {
        width: 81%;
        height: 71%;
    }
}

@media only screen and (min-device-width: 450px) and (max-device-width: 1024px) {
    .banner2 .inner-box .border-box {
        display: none;
    }

}

@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {


    .banner2 .social li a {

        font-size: 18px;
        height: 44px;
        line-height: 44px;

        width: 44px;
    }
}

@media only screen and (min-device-width: 820px) and (max-device-width: 990px) {
    .banner2 .margin-top-100 {
        margin-top: 100px;
    }
}


/* *********************************** END:- Responsive Team  SECTION ********************************************* */

/* ************************ START:- Responsive  LOCATIONS-MAPs ***************************** * */
@media screen and (max-width: 425px) {
    .locations-section .map-box .map-image {
        margin-top: 100px;
    }

    .locations-section .map-box .location-point .inner {
        width: 100px;
        margin-bottom: 8px;
    }

    .banner3 .section-title h1 {
        font-size: 30px;
        line-height: 40px;
    }

}

/* ************************ END:- Responsive LOCATIONS-MAPs ***************************** * */




















/************************* START:- Write_Us SECTION ***************************** */

/* .banner1 {
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/counter-bg.jpg);
}

.banner1 .h_bch {
    background: rgba(16, 16, 40, 0.8);
    height: 600px;
}

.banner1 .h_bch .m_cf {
    color: #fff;
    font-size: 35px;
    margin-left: 25%;
}

.banner1 .h_bch .appointment .form-group .btn {
   
    display: block !important;
}

.banner1 .h_bch .btn.btn-primary {
    background: #3fb698 !important;
    border: 1px solid #3fb698 !important;
    color: #fff !important;
} */


/************************* END:- Write_Us SECTION ***************************** */





/********************* END:-BANNER MOBILE SECTION ******************************** */

/************************* START:- FOOTER SECTION ***************************** */



.footer-color {
    background: #302c38;
    height: 350px;
    margin-top: -20px;
}

.green {
    color: #3fb698 !important;
}

.p_a {
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 50px;
    /* margin: 0 0 39px; */
}

.p_a span {
    color: #3fb698;
    font-family: "Poppins", sans-serif;
}



.f_pa {
    /* font white color on p and a */
    text-decoration: none;
    color: azure;
    /* margin-left: 20px; */
    font-weight: 200;
    font-size: 15px;
}

.subtf_pa {
    text-decoration: none;
    color: azure !important;
    font-weight: 500;
    font-size: 25px;
}

.separator-f {
    margin-bottom: 15px;
    position: relative;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #3fb698 25%, #9aecd8 100%);
}

.hvc li a:hover {
    color: #3fb698;
    text-decoration: none;
}


.rotate-right {
    transform: rotate(270deg);
}

.padding-20 {
    padding: 20px;
}

.padding-l-20 {
    padding-left: 20px;
}

.padding-r-20 {
    padding-right: 20px;
}

.padding-t-20 {
    padding-top: 20px;
}

.padding-b-20 {
    padding-bottom: 20px;
}

.padding-20 {
    padding: 20px;
}

.padding-15 {
    padding: 15px;
}

.padding-0 {
    padding: 0rem;
}

.footer-color .left-m-10 {
    margin-left: 10px;
}

.auto-hide-downcursor {
    display: none;
}

.subtf {
    text-decoration: none;
    color: azure !important;
    font-weight: 500;
    font-size: 15px;
}

.ft_size {
    font-size: 16px;
}

.footer-color .footer-list li a {
    color: azure;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

.footer-color .dropdown-content span:hover {
    color: #bd6f29;
}

.footer-color .remove-line a span:hover {
    color: #bd6f29;
}


.footer-color .left-m-40 {
    margin-left: 38%;
}

.footer-color .footer-section li a {
    margin-right: 7px;
    color: azure;
    /* width: 2px; */
    font-weight: 300;
    font-size: 10px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}




.footer-section li a:hover {
    color: #bd6f29 !important;
}

.footer-section li a:after {
    content: '|';
    font-family: 'FontAwesome';
    position: relative;
    /* width: 252px; */
    text-align: center;
    line-height: 30px;
    height: 50px;
    opacity: 1;
    right: -.3rem;
    margin-right: 4px;


}


/********************* START:- FOOTER MOBILE SECTION ******************************** */
.footer-color .dropdown {
    position: relative;
    display: inline-block;
    width: 365px;
}



@media screen and (max-width: 1200px) {
    .auto-hide {
        display: none;
    }

    .h_bch {
        height: 1000px;
    }

    .m_cf {
        margin-top: 5.20px;
        font-size: 30px;

    }

    .l-m {
        font-size: 20px;
        line-height: 30px;
    }
}

@media screen and (max-width: 1200px) {
    .footer-list ul {
        margin-left: 10px;
    }

    .subtf_pa {
        text-decoration: none;
        color: azure !important;
        font-weight: 500;
        /* font-size: 10px; */
    }

    .btn-border {
        background-color: inherit;
        border: 0.20px solid #3fb698;
    }

    .footer-color {
        height: auto;
    }

    .col_d {
        flex-direction: column;
    }

    .size-15 {
        font-size: 15px;
    }

    .padding-20 {
        padding: 20px;
    }

    .padding-l-20 {
        padding-left: 20px;
    }

    .padding-r-20 {
        padding-right: 20px;
    }

    .padding-t-20 {
        padding-top: 20px;
    }

    .padding-b-20 {
        padding-bottom: 20px;
    }

    .padding-20 {
        padding: 20px;
    }

    .padding-15 {
        padding: 15px;
    }

    .padding-0 {
        padding: 0rem;
    }

    .left-m-10 {
        margin-left: 1px;
    }

    .left-m-100 {
        margin-left: 10rem;

    }

    .left-m-120 {
        margin-left: 12rem;
    }

    .left-m-175 {
        margin-left: 17.5rem;
    }

    .left-m-210 {
        margin-left: 21px;
    }

    .left-m-230 {
        margin-left: 23rem;
    }

    .left-m-275 {
        margin-left: 27.5rem;
    }

    .separator {
        margin-left: 20px;
    }

    .hvc {
        margin-left: 1px;
        line-height: 2.5rem;

    }

    .f_ms {
        font-size: 10px;

    }

}

@media screen and (max-width:1200px) {
    .footer-color .dropdown-content {
        display: none;
        position: relative;
        margin-top: 20px;
    }

    .footer-color.dropdown {
        position: relative;
        display: inline-block;
        width: 365px;
    }

    .footer-color .dropdown:hover .dropdown-content {
        display: block;
    }

    .footer-color .left-m-40 {
        margin-left: 10%;
    }
}

/************************* END:- FOOTER SECTION ***************************** */

@media screen and (min-width: 320px) {

    .digit_text {
        max-width: 100%;
    }

    .first_text {
        max-width: 100%;
    }

    .btn-border {
        width: 80%;
    }

    .block-image img {

        width: 200%;
    }

    .mar-img1 {
        margin-left: -17px;
    }

    .mar-img2 {
        margin-left: -34px;
    }
}

@media screen and (min-width: 375px) {
    .block-image img {

        width: 240%;
    }

    .mar-img1 {
        margin-left: 5px;
    }

    .mar-img2 {
        margin-left: 10px;
    }

    .btn-border {
        width: 95%;
    }

}