<!DOCTYPE html>
<html lang="en">

<head>
    <title>BCS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="icon" href="BSC_logo_no_bg (1).svg" type="image/x-icon">
    <link rel="stylesheet" href="../Technologies/technologies.css">

</head>

<body>

    <div class="header ">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-md d-flex align-items-center top-marg-10 ">
                    <h6 class="size-15"><i class="fa fa-phone">
                        </i>Need any help? Talk to expert : +91 9620 35 4720</h6>
                </div>
                <div class="col-12 col-md d-flex justify-content-md-end">
                    <ul class="nav ">
                        <li><a class="size-15" href="#">Media Center</a></li>
                        <li><a class="size-15" href="#">Contact Us</a></li>
                        <li><a class="size-15" href="#">Career</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top top-m-140">
        <a class="navbar-brand">
            <img src="../BSC_logo_no_bg.svg " class="navbar-brand" alt="BCS">
        </a>
        <button type="button" class="navbar-toggler custom-btn" data-toggle="collapse" data-target="#menu">
            <div class="line-menubar"></div>
            <div class="line-menubar"></div>
            <div class="line-menubar"></div>
        </button>
        <div class="navbar-nav  collapse navbar-collapse  margin-right-40" id="menu">
            <div class="navbar-nav mx-auto nav_responsive margin-right-40">
                <a href="../index.html" class="fwc_pa">Home</a>
                <a href="#" class="fwc_pa">Docs</a>
                <a href="../meet_us.html" class="fwc_pa">About</a>
                <a href="#" class="fwc_pa">Download</a>
                <a href="#" class="fwc_pa">Certifications</a>
                <a href="#" class="fwc_pa">Feedback</a>
            </div>
        </div>
    </div>

    <!-- *********************************** START: BANNER SECTION ********************************************* -->
    <div class="banner ban-img">
        <div class="banner-color">
            <div class="container">
                <div class="row">
                    <div class="top-m-100 left-m-25">
                        <p class="digit_text">
                            we provide truly prominent IT solutions.
                        </p>
                        <p class="first_text"> Our team provides a
                            consultative approach on emerging technology </p>
                        <a class="main_btn" href="#" style=" text-decoration: none;">
                            More About Us
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- *********************************** END: BANNER SECTION ********************************************* -->
    <!-- *********************************** START:- 1ST SECTION ********************************************* -->

    <section class="banner1">
        <div class="auto-container">
            <div class="row ">
                <div class="col-lg-6 col-md-12 col-sm-6">
                    <div>
                        <div class="subtitle top-m-50">
                            <h3> we execute it related case the studies & work</h3>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-6 top-m-50">
                    <div class="text">
                        <p>On the other hand we denounce with righteous indignation hill and dislike men who are so
                            beguiled and demoralized by and charms of pleasure of the moment so blinded. On the other
                            hand we denounce with righteous indignation
                        </p>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-6 top-m-50">

                    <div>
                        <img src="../TECHNOLOGY-sec01-img-1.jpg" class="image1" alt="Images">
                    </div>

                </div>
                <div class="col-lg-6 top-m-50">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-6 ">
                            <div class="box-container">
                                <div class="icon">
                                    <i class="fa  fa-podcast" style="margin-top: 30px;"></i>
                                </div>
                                <div style="margin-left:75px; margin-top: -70px;">
                                    <h6><a href="http://cascaron.org" target="_blank">Cascaron Frameworks</a></h6>
                                    <p>Duis eleifend molestie leo at mollis sanctus intro.</p>
                                </div>
                            </div>
                            <div class="top-m-50">
                                <ul class="icon" style="margin-left:12px;">
                                    <li><i class="fa fa-check margin-right-15"></i>Cost of supplies and equipment</li>
                                    <li><i class="fa fa-check margin-right-15"></i>Drive Business Process</li>
                                    <li><i class="fa fa-check margin-right-15"></i>Structure Data & Docs</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12 col-sm-6">
                            <div class="box-container">
                                <div class="icon">
                                    <i class="fa  fa-podcast" style="margin-top: 30px;"></i>
                                </div>
                                <div style="margin-left:75px; margin-top: -70px;">
                                    <h6><a href="#">XLVM Foundation</a></h6>
                                    <p>Duis eleifend molestie leo at mollis sanctus intro.</p>
                                </div>
                            </div>
                            <div class="top-m-50" style="margin-left:12px;">
                                <ul class="icon">
                                    <li><i class="fa fa-check margin-right-15"></i>Cost of supplies and equipment</li>
                                    <li><i class="fa fa-check margin-right-15"></i>Drive Business Process</li>
                                    <li><i class="fa fa-check margin-right-15"></i>Structure Data & Docs</li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </section>

    <!-- *********************************** END:- 1ST SECTION ********************************************* -->
    <!-- *********************************** START:- 2ND SECTION ********************************************* -->
    <section class="banner2">
        <div class="auto-container">
            <div class="sec-title centered">
                <div class="title">OUR WORK PROCESS</div>
                <h2>our project work flow</h2>
                <p>We help digital companies to volume their self-interest and get a space. Eaque ipsa quae ab illo
                    inventore.<br> veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>

            <div class="row ">
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <h3>we are an innovative agency develop around the world.</h3>
                        <div class="text">
                            <p>Our results solution combines implementation support, capability building and
                                state-of-the-art diagnostic and analytic tools so you can continually change. Our
                                results solution combines implementation support, capability building. Change is
                                opportunity. The challenges it presents may seem daunting, but we help you approach
                                change with confidence, adapt with purpose and embrace.
                            </p>
                        </div>
                        <ul class="icon-border top-mm-10">
                            <li>
                                <div>
                                    <i class="fa fa-check margin-right-15"></i>
                                </div>
                                <div style="margin-left: 40px;">
                                    <p> Building Relationships With Clients All Over
                                        The World!
                                    </p>
                                </div>
                            </li>
                            <li><i class="fa fa-check margin-right-15"></i>
                                <p style="margin-left: 40px;">Projects & Residentials Completed in 2020
                                    Workers With Us</p>
                            </li>
                            <li><i class="fa fa-check margin-right-15"></i>
                                <p style="margin-left: 40px;">Offering high quality construction solutions
                                    Build Your.</p>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="images-column col-lg-6 col-md-12 col-sm-12 top-m-50">
                    <div class="inner-image">
                        <img src="../technologies-sec-02-img-02.jpg" class="image1" alt="Images">
                    </div>

                </div>

            </div>

        </div>
    </section>



    <!-- *********************************** END:- 2ND SECTION ********************************************* -->

    <!--************************************ START: FOOTER SECTION *****************************************-->

    <footer class="footer-color">

        <hr class="horizontal dark mb-5">
        <div class="container">
            <div class=" row col_d">

                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border remove-line">
                            <a href="../Industries_Services/Industries.html" class="subtf_pa left-m-10"><span>Industries
                                </span><span><i class="fa fa-sort-desc subtf_pa left-m-210 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content footer-list">
                            <ul>
                                <li style="list-style-type: none">
                                    <a href="../templates/Industries_Services/Banking-&-financial_services.html"><span>
                                            Banking & Financial Services</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="../templates/Industries_Services/Automotive_Services.html"><span>
                                            Automotive Services </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span>IT Solution</span></a> -->
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border remove-line">
                            <a href="../Services/Services.html" class="subtf_pa left-m-10"><span>Services</span><span><i
                                        class="fa fa-sort-desc subtf_pa left-m-230 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content footer-list">
                            <ul>
                                <li style="list-style-type: none">
                                    <a href="../Services/artificial_intelligence.html"><span>Artificial
                                            Intelligence</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="../Services/web_development.html"><span> Web Development </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="../Services/Desktop_&_Mobile_ Applications.html"><span>Desktop & Mobile
                                            Applications </span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border remove-line">
                            <a href="../technologies/Technologies.html"
                                class="subtf_pa left-m-10"><span>Technologies</span><span><i
                                        class="fa fa-sort-desc subtf_pa left-m-175 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content footer-list">
                            <ul>
                                <li style="list-style-type: none">
                                    <a href="http://cascaron.org" target="_blank"><span>Cascaron Frameworks </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="http://xlvm.org" target="_blank"><span> XLVM Foundation</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span>Java</span></a> -->
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span> JavaScript frameworks</span></a> -->
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span>Apache Kafka</span></a> -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border">
                            <a class="subtf_pa left-m-10">BCS IT Solutions<span><i
                                        class="fa fa-sort-desc subtf_pa left-m-275 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content footer-list">
                            <ul>
                                <li style="list-style-type: none">
                                    <a href="../meet_us.html"><span> MeetUs</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span>Career</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span> Blog </span></a>
                                </li>

                                <!-- <li style="list-style-type: none">
                                    <a href="#"><span> Our Privacy & Policy </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span> Careers </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span> Events </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span> location </span></a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator-f"></div>
        <div class="col-12 " style="margin-bottom:80px">
            <ul class="nav left-m-40 footer-section">
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Accessibility Statements</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Cookies Policy</a></li>
                <li><a href="#">Covid 19 Notice</a></li>
                <li><a href="#">Sitemap</a></li>

            </ul>
        </div>
        <div class="text-center">
            <p class="subtf fwc_pa f_ms ">
                All rights reserved. Copyright © 2021 by Boostinorbit.com
            </p>

        </div>
    </footer>

    <!--************************************ END: FOOTER SECTION *****************************************-->


</body>

</html>