<!DOCTYPE html>
<html lang="en">

<head>
    <title>BCS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="icon" href="../../icons/BSC_logo_no_bg (1).svg" type="image/x-icon">
    <link rel="stylesheet" href="../../css/Services/Desktop_&_Mobile_ Applications.css">
</head>

<body>

    <div class="header">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-md d-flex align-items-center top-marg-10 ">
                    <h6 class="size-15"><i class="fa fa-phone">
                        </i>Need any help? Talk to expert : +91 9620 35 4720</h6>
                </div>
                <div class="col-12 col-md d-flex justify-content-md-end">
                    <ul class="nav ">
                        <li><a class="size-15" href="#">Media Center</a></li>
                        <li><a class="size-15" href="#">Contact Us</a></li>
                        <li><a class="size-15" href="#">Career</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="navbar navbar-expand-md bg-dark navbar-dark fixed-top top-m-140">
        <a class="navbar-brand">
            <img src="../../icons/BSC_logo_no_bg.svg " class="navbar-brand" alt="BCS">
        </a>
        <button type="button" class="navbar-toggler custom-btn" data-toggle="collapse" data-target="#menu">
            <div class="line-menubar"></div>
            <div class="line-menubar"></div>
            <div class="line-menubar"></div>
        </button>
        <div class="navbar-nav  collapse navbar-collapse  margin-right-40" id="menu">
            <div class="navbar-nav mx-auto nav_responsive margin-right-40">
                <a href="../index.html" class="fwc_pa">Home</a>
                <a href="#" class="fwc_pa">Docs</a>
                <a href="#" class="fwc_pa">About</a>
                <a href="#" class="fwc_pa">Download</a>
                <a href="#" class="fwc_pa">Certifications</a>
                <a href="#" class="fwc_pa">Feedback</a>
            </div>
        </div>
    </div>

    <!-- *********************************** START: BANNER SECTION ********************************************* -->
    <div class="banner">
        <div class="ban-img">
            <div class="banner-color">
                <div class="container">
                    <div class="row">
                        <div class="top-m-100 left-m-25">
                            <p class="digit_text">We are IT Services Consulting Firm</p>
                            <p class="first_text">We are experienced professionals who understand that It services is
                                changing, and are true partners who care about your success. </p>
                            <a class="main_btn" href="#" style=" text-decoration: none;">
                                More About Us
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- *********************************** END: BANNER SECTION ********************************************* -->

    <!--************************************ START:- 1ST SECTION ********************************************* -->

    <section class="banner1">
        <div class="container">
            <div class="row">
                <div class="top-m-100">
                    <div class="centered" style="margin-left:360px;">
                        <div class="content-title ">
                            <h6>OUR SERVICES</h6>
                            <h2>Services We Provide</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-xs-12">
                        <div class="services-section">
                            <div class="services-grid clearfix">
                                <div class="grid">
                                    <div class="icon">
                                        <i class="fa fa-user-shield"></i>
                                    </div>
                                    <h6><a href="../Services/artificial_intelligence.html">Artificial Intelligence</a>
                                    </h6>
                                    <p>Hendrerit id, lorem. Maecenas nec
                                        odio et ante tincidunt tempus. Donec vitae</p>
                                </div>
                                <div class="grid">
                                    <div class="icon">
                                        <i class="fa  fa-leaf"></i>
                                    </div>
                                    <h6><a href="../Services/web_development.html">Web Development</a></h6>
                                    <p>Hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae</p>
                                </div>
                                <div class="grid">
                                    <div class="icon">
                                        <i class="fa fa-search-dollar"></i>
                                    </div>
                                    <h6><a href="../Services/Desktop_&_Mobile_ Applications.html">Desktop & Mobile
                                            Applications</a></h6>
                                    <p>Hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae</p>
                                </div>
                                <!-- <div class="grid">
                                    <div class="icon">
                                        <i class="fa fa-database"></i>
                                    </div>
                                    <h6><a>Data Security</a></h6>
                                    <p>Hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae</p>
                                </div>
                                <div class="grid">
                                    <div class="icon">
                                        <i class="fa fa-microchip"></i>
                                    </div>
                                    <h6><a>Cyber security</a></h6>
                                    <p>Hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae</p>
                                </div>
                                <div class="grid">
                                    <div class="icon">
                                        <i class="fa fa-cloud "></i>
                                    </div>
                                    <h6><a>Cloud Services</a></h6>
                                    <p>Hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae</p>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--************************************ END:- 1ST SECTION ********************************************* -->

    <!--************************************ START:- 2ND SECTION ********************************** -->

    <section class="banner2">
        <div class="container">
            <div class="row top-m-100 bottom-m">
                <div class="col-lg-6 col-sm-12 col-6 mb-6">
                    <div class="section-img">
                        <img src="../../images/Desktop-sec-1-img-02.jpg" alt="image">
                    </div>
                </div>
                <div class="col-lg-6 top-m-50">
                    <div class="section-text">
                        <h6>About Us</h6>
                        <h1>We develop digital strategies products and services.</h1>
                        <div class="quotes">
                            <blockquote>
                                Quis aliqua sunt nisi consectetur anim ullamco ea. Ut deserunt non voluptate nisiQuis
                                aliqua sunt nisi
                            </blockquote>
                        </div>
                        <div class="text">
                            <p>We believe that designing products and services in close partnership with our clients is
                                the only way to have a real impact on their business.We believe that designing products
                                and services in close partnership with our clients is the only way to have a real impact
                                on their business
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!--************************************ END:- 2ND SECTION ********************************** -->
    <!--************************************START:- 3RD SECTION **********************************-->

    <section class="banner3">
        <div class="services-section">
            <div class="auto-container">

                <div class="row" style="margin-left:10px">
                    <div class="title">
                        <h2>Our Services</h2>
                        <h3> Development Technology</h3>
                        <div class="text">
                            <p>Our strong passion to modern tech trends and best practices drive in the development
                                of
                                top-notch solutions that are perfectly tailored to provide high quality and
                                affordable
                                software outsourcing solutions to growing startup and enterprise companies in the
                                world.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="service-block col-lg-3 col-md-6 col-sm-12">

                        <div class="inner-box">
                            <div class=" border-box1"></div>
                            <div class="icon_img">
                                <img src="../../icons/pngegg.png" alt="image">

                            </div>
                            <h4>Morden C++</h4>
                            <div class="text">Design and propose products improvements through periodical and accurate
                                testing.</div>

                            <div class="border-box"></div>
                        </div>

                    </div>

                    <div class="service-block col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="border-box"></div>
                            <div class="icon_img">
                                <img src="../../icons/qt-logo.svg" alt="image">

                            </div>
                            <div style="margin-top:14px">
                                <h4>Qt/C++</h4>
                            </div>
                            <div class="text">Develop and propose product improvements through periodical and accurate
                                testing.</div>
                            <div class=" border-box1"></div>

                        </div>
                    </div>

                    <div class="service-block col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="border-box"></div>
                            <div class="icon_img">
                                <img src="../../icons/python.png" alt="image">

                            </div>
                            <h4>Python</h4>
                            <div class="text">Cloud Integrate for product improvements through periodical and accurate
                                testing.</div>
                            <div class=" border-box1"></div>

                        </div>
                    </div>
                    <div class="service-block col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="border-box"></div>
                            <div class="icon_img">
                                <img src="../../icons/shell_script.png" alt="image">

                            </div>
                            <h4>Script</h4>
                            <div class="text">IT Consultancy for products improvements through periodical and accurate
                                testing.</div>
                            <div class=" border-box1"></div>

                        </div>
                    </div>

                </div>
                <!-- <div class="row">
                    <div class="service-block col-lg-3 col-md-6 col-sm-12">

                        <div class="inner-box">
                            <div class=" border-box1"></div>
                            <div class="icon">
                                <i class="fa fa-bezier-curve"></i>
                            </div>
                            <h4>HTML</h4>
                            <div class="text">Design and propose products improvements through periodical and accurate
                                testing.</div>

                            <div class="border-box"></div>
                        </div>

                    </div>

                    <div class="service-block col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="border-box"></div>
                            <div class="icon">
                                <i class="fa fa-tasks"></i>
                            </div>
                            <h4>JavaScript</h4>
                            <div class="text">Develop and propose product improvements through periodical and accurate
                                testing.</div>
                            <div class=" border-box1"></div>

                        </div>
                    </div>

                    <div class="service-block col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="border-box"></div>
                            <div class="icon ">
                                <i class="fa fa-python"></i>
                            </div>
                            <h4>Python</h4>
                            <div class="text">Cloud Integrate for product improvements through periodical and accurate
                                testing.</div>
                            <div class=" border-box1"></div>

                        </div>
                    </div>
                    <div class="service-block col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="border-box"></div>
                            <div class="icon ">
                                <i class="fa fa-compass"></i>
                            </div>
                            <h4>IT CONSULTANCY</h4>
                            <div class="text">IT Consultancy for products improvements through periodical and accurate
                                testing.</div>
                            <div class=" border-box1"></div>

                        </div>
                    </div>

                </div> -->
            </div>
        </div>
    </section>




    <!--************************************END:- 3RD SECTION **********************************-->

    <!--************************************ START: FOOTER SECTION *****************************************-->

    <footer class="footer-color">

        <hr class="horizontal dark mb-5">
        <div class="container">
            <div class=" row col_d">

                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border remove-line">
                            <a href="../Industries_Services/Industries.html"
                                class="subtf_pa left-m-10"><span>Industries</span><span><i
                                        class="fa fa-sort-desc subtf_pa left-m-210 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content footer-list">
                            <ul>
                                <li style="list-style-type: none">
                                    <a href="../Industries_Services/Banking-&-financial_services.html"><span>
                                            Banking & Financial Services</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="../Industries_Services/Automotive_Services.html"><span>
                                            Automotive Services </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span>IT Solution</span></a> -->
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border remove-line">
                            <a href="../Services/Services.html" class="subtf_pa left-m-10"><span>Services</span><span><i
                                        class="fa fa-sort-desc subtf_pa left-m-230 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content footer-list">
                            <ul>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span> Consulting Services</span></a> -->
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span> Cloud Computing </span></a> -->
                                </li>
                                <li style="list-style-type: none">
                                    <a href="../Services/artificial_intelligence.html"><span> Artificial
                                            Intelligence</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="../Services/web_development.html"><span> Web Development </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="../Services/Desktop_&_Mobile_ Applications.html"><span>Desktop & Mobile
                                            Applications </span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border remove-line">
                            <a href="../technologies/Technologies.html"
                                class="subtf_pa left-m-10"><span>Technologies</span><span><i
                                        class="fa fa-sort-desc subtf_pa left-m-175 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content footer-list">
                            <ul>
                                <li style="list-style-type: none">
                                    <a href="http://cascaron.org"><span>Cascaron Frameworks </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span>XLVM Foundation</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span>Java</span></a> -->
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span> JavaScript frameworks</span></a> -->
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span>Apache Kafka</span></a> -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border">
                            <a class="subtf_pa left-m-10">BCS<span><i
                                        class="fa fa-sort-desc subtf_pa left-m-275 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content footer-list">
                            <ul>
                                <li style="list-style-type: none">
                                    <a href="../meet_us.html"><span> MeetUs</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span>Career</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span> Blog </span></a>
                                </li>
                                <!-- <li style="list-style-type: none">
                                    <a href="#"><span> Our Privacy & Policy </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span> Careers </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span> Events </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span> location </span></a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator-f"></div>
        <div class="col-12 " style="margin-bottom:80px">
            <ul class="nav left-m-40 footer-section">
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Accessibility Statements</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Cookies Policy</a></li>
                <li><a href="#">Covid 19 Notice</a></li>
                <li><a href="#">Sitemap</a></li>

            </ul>
        </div>
        <div class="text-center">
            <p class="subtf fwc_pa f_ms ">
                All rights reserved. Copyright © 2021 by Boostinorbit.com
            </p>

        </div>
    </footer>

    <!--************************************ END: FOOTER SECTION *****************************************-->


</body>

</html>