* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

html {
    font-size: 10px;
}

.top-m-200 {
    margin-top: 200px;
}

.top-m-100 {
    margin-top: 10rem;

}

.margin-right-40 {
    margin-right: 20%;
}

.size-15 {
    font-size: 2rem !important;
}

.top-m-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.top-m-25 {
    margin-top: 25px;
}

.top-m-50 {
    margin-top: 50px;
}

.remove-line a {
    text-decoration: none;
}

.centered {
    text-align: center;
}

/* *******************************************Resusable************************************************** */

.separator {
    margin-bottom: 15px;
    position: relative;
    width: 250px;
    height: 5px;
    background: linear-gradient(to right, #3fb698 25%, #9aecd8 100%);
}

.nav li a:after {
    content: '|';
    font-family: 'FontAwesome';
    position: relative;
    /* width: 252px; */
    text-align: center;
    line-height: 3rem;
    height: 5rem;
    opacity: .5;
    right: -.6rem;

}

.navbar-toggler.custom-btn {
    position: absolute;
    cursor: pointer;
    top: 1rem;
    margin-left: 80%;

}

button.custom-btn div.line-menubar {
    height: .3rem;
    width: 3rem;
    margin: .5rem 0rem;
    background-color: #bd6f29;
}

button.navbar-toggler {
    border: azure .2rem solid !important;
}

button.navbar-toggler:hover {
    border: #bd6f29 .2rem solid !important;
}

.dropdown-menu {
    background-color: #302c38 !important;
}

.dropdown-menu a {
    color: azure !important;
}

.header {
    background: #bd6f29;
    color: azure;
    z-index: 2;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 4.4rem;
}

.header .fa {
    transform: rotate(105deg);
    margin-right: 10px;
}

.nav li a {
    color: azure;
    width: .2rem;
    font-weight: 300;
    font-size: 2rem;
    margin-right: 1.2rem;
    border-radius: 50%;

}

.navbar-brand {
    width: 35%;
    height: auto;
}

div.navbar {
    background-color: #f2f2f2 !important;
    font-weight: 500 !important;
    font-size: 1.5rem !important;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #302c38 !important;
    /* position: fixed; */

}

.fwc_pa {
    /* font white color on p and a */
    text-decoration: none;
    color: azure;
    margin-left: 2rem;
    font-weight: 500;
    /* font-size: 20px; */
    font-size: 2rem;
}

.navbar-nav a:hover {
    color: #bd6f29;
    text-decoration: none;

}

@media screen and (max-width:740px) {
    .margin-right-40 {
        margin-right: 100% !important;
    }

    .dropdown-menu {
        background-color: #302c38 !important;
    }

    .dropdown-menu a {
        color: azure !important;
    }

    .size-15 {
        font-size: 1.6rem !important;
    }

    .top-marg-10 {
        margin-top: 1rem;
    }

    .navbar-toggler.custom-btn {
        position: absolute;
        cursor: pointer;
        top: 1rem;
        margin-left: 80%;

    }

    .navbar-brand {
        width: 60% !important;
    }

    .header {
        line-height: 3rem;
    }
}


/************************* START:- BANNER SECTION ***************************** */

.ban-img {
    background-image: url(../../images/Desktop_banner-img.jpg);
    /* height: 60rem; */
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: 160px 0px 160px;
    background-size: cover;
    width: 100%;

}

.banner {
    width: 100%;
    height: 60rem;
}

.banner-color {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.4);
}


.digit_text {
    z-index: 12;
    font-family: Barlow;
    height: auto;
    color: #fff;
    white-space: normal;
    max-width: 75rem;
    line-height: 85px;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 6.7rem;

}


.first_text {

    z-index: 11;
    font-family: 'Oswald', sans-serif;
    height: auto;
    color: #fff;
    white-space: normal;
    width: 650px;
    line-height: 26px;
    font-size: 16px;

}


.main_btn {
    background: #bd6f29;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    line-height: 58px;
    padding: 0px 33px;
    font-weight: 600;
    font-size: 13px;
    margin-top: 5rem;
}

.main_btn:hover {
    background-color: #3fb698 !important;
    color: azure;
}

/************************* END:- BANNER SECTION ***************************** */


/********************* START:-1st SECTION ******************************** */


.banner1 {

    width: 100%;
    height: auto;
    background-color: #302c38;

}

.banner1 .left-m-360 {
    margin-left: 360px;
}

.banner1 .content-title h2 {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2em;
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

.banner1 .content-title h6 {
    margin-bottom: 10px;
    position: relative;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2em;
    /* color: #232323; */
    color: #fff;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.banner1 .services-section .text p {
    position: relative;
    /* color: #333333; */
    color: #bbbbbb;
    font-size: 16px;
    line-height: 1.7em;
    margin-bottom: 40px;
    font-weight: 400;
}


.banner1 .services-section h6 a {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    /* text-transform: capitalize; */
    line-height: 32px;
    letter-spacing: 0px;
    font-weight: 600;
    font-style: normal;
    /* color: #232323; */
    color: #fff;
    font-size: 18px;
}

.banner1 .services-section h6 a:hover {
    color: #bd6f29;
}


.banner1 .icon .fa {
    /* color: #bd6f29;
    font-size: 30px; */
    background-color: #bd6f29;
    color: #fff;
    margin-right: 20px;
    font-size: 20px;
    padding: 15px;
    border-radius: 35px;
    position: absolute;
    left: 0;
    top: 8px;
    overflow: hidden;
}


/* .banner1 .services-section  {
    background-color: #fff;
} */

.banner1 .services-section p {
    position: relative;
    /* color: #232323; */
    color: #fff;
    font-size: 14px;
    line-height: 1.7em;
    font-weight: 400;
    overflow: hidden;
}

.banner1 .grid {
    /* margin: 0 15px 40px; */
    position: relative;
    padding-left: 60px;
}

/* ***********************************START:- 2ND SECTION **************************** */

.banner2 {
    height: auto;
    position: relative;
    overflow: hidden;
    /* background-color: azure; */
    background-color: #232323;
}

.banner2 .bottom-m {
    margin-bottom: 50px;
}

.banner2 .section-text h6 {

    position: relative;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2em;
    /* color: #333; */
    color: #bbbbbb;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.banner2 .section-text h1 {
    margin-bottom: 30px;
    position: relative;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2em;
    /* color: #232323; */
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

.banner2 .section-text .text p {
    position: relative;
    /* color: #333; */
    color: #bbbbbb;
    font-size: 16px;
    line-height: 1.7em;
    font-weight: 400;
    margin-bottom: 35px;
}

.banner2 .section-text .quotes p {
    position: relative;
    /* color: #333; */
    color: #bbbbbb;
    font-size: 18px;
    line-height: 1.7em;
    font-weight: 700;
    margin-bottom: 35px;
}


.banner2 .section-text .quotes blockquote {
    font-style: italic;
    padding: 0 20px 0 30px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 3px solid #bbbbbb;
    color: #fff;
    margin: 35px 0;
    line-height: 1.6em;
}

.banner2 .section-img img {
    width: 100%;
    height: auto;
}

/********************* END:-2nd SECTION ******************************** */
/********************* START:-3RD SECTION ***************************** */




/********************* END:-3RD SECTION ***************************** */





.auto-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

.banner3 .text p {
    position: relative;
    color: #333;
    font-size: 16px;
    line-height: 1.7em;
    margin-bottom: 50px;

}

.banner3 .services-section .title h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2em;
    color: #232323;
    font-family: 'Oswald', sans-serif;
}

.banner3 .services-section h3 {
    margin-bottom: 20px;
    position: relative;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2em;
    color: #232323;
    font-family: 'Oswald', sans-serif;
}

.banner3 .services-section {
    position: relative;
    padding: 20px 0px 70px;
    /* background-color: #302c38; */
    background-color: azure;

}

.banner3 .service-block {
    position: relative;
    margin-bottom: 30px;

}

.banner3 .service-block .inner-box {
    position: relative;
    /* text-align: center; */
    padding: 50px 40px 50px;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    border: 2px solid rgba(255, 255, 255, 0.20);
    background-color: #232323;
    /* height: 330px; */

}

/* .service-block .inner-box .icon {
    position: relative;
    font-size: 50px;
    color: #bd6f29;
    display: block;
    line-height: 1em;
    margin-bottom: 15px;
} */

.service-block .inner-box .icon_img img {
    width: 30%;
    height: auto;
    margin-bottom: 22px;
}

.banner3 .service-block .inner-box h4 {
    margin-bottom: 15px;
    font-weight: 700;
    letter-spacing: -.5px;
    text-transform: uppercase;
    position: relative;
    font-size: 18px;
    line-height: 1.4em;
}

.banner3 .service-block .inner-box h4 {
    position: relative;
    color: #fff;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.banner3 .service-block .inner-box .text {
    position: relative;
    color: #bbbbbb;
    font-size: 16px;
    line-height: 1.7em;
}

.banner3 .service-block .inner-box:hover {
    border-color: #bd6f29;
    text-decoration: none;
}

/* .service-block .inner-box:hover h4 a {
    color: #bd6f29;
    text-decoration: none;

} */


.banner3 .service-block .inner-box .border-box {
    position: absolute;
    right: -2px;
    bottom: -2px;
    width: 50px;
    height: 50px;
    border-right: 5px solid #bd6f29;
    border-bottom: 5px solid #bd6f29;
    transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -webkit-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
}

.banner3 .border-box1 {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 50px;
    height: 50px;
    border-top: 5px solid #bd6f29;
    border-left: 5px solid #bd6f29;
    transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -webkit-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
}

.banner3 .service-block .inner-box:hover .border-box {
    width: 101%;
    height: 101%;
}

.banner3 .service-block .inner-box:hover .border-box1 {
    width: 101%;
    height: 101%;
}





/********************* START:-BANNER MOBILE SECTION ******************************** */

/* ************************ START:- BANNER SECTION ***************************** * */
@media screen and (max-width: 768px) {

    /* START */
    .margin-right-40 {
        margin-right: 125px !important;
    }

    .dropdown-menu {
        background-color: #302c38 !important;
    }

    .dropdown-menu a {
        color: azure !important;
    }

    /* END */
    .ban-img {
        height: 50rem;
    }

    .left-m-25 {
        margin-left: 25px;
    }

    .digit_text {
        z-index: 12;
        font-family: Barlow;
        max-width: 100%;
        line-height: 45px;
        letter-spacing: 0px;
        font-weight: 700;
        font-size: 3.7rem;

    }

    .first_text {
        color: #fff;
        z-index: 12;
        font-family: 'Oswald', sans-serif;
        width: 100%;
        line-height: 26px;
        font-weight: 700;
        font-size: 16px;

    }

    .main_btn {
        margin-top: 10px;
        margin-left: 26px;
        font-size: 12px;

    }
}

/************************* END:- BANNER SECTION ***************************** */

/********************* END:-BANNER MOBILE SECTION ******************************** */


/********************* START:- Responsive 1st SECTION ******************************** */


@media screen and (max-width: 768px) {

    .banner1 {
        margin-top: -110px;
    }

    .banner1 .icon .fa {
        left: 12px;
    }

    .banner1 .left-m-360 {
        margin-left: 10px;
    }

    .banner1 .services-section {
        margin-top: 30px;
    }

    .banner1 .grid {
        padding-left: 80px;
    }

    .banner1 .right-m {
        margin-right: 0px;
    }


}




/********************* END:- Responsive 1st  SECTION ******************************** */
/********************* START:- Responsive 2nd  SECTION ******************************** */

@media screen and (max-width: 425px) {
    .banner2 .section-img img {
        width: 215%;
        height: auto;
        border-radius: 20px;
    }
}






















/************************* START:- FOOTER SECTION ***************************** */



.footer-color {
    background: #302c38;
    height: 35rem;
    margin-top: -2rem;
}

.green {
    color: #3fb698 !important;
}

.p_a {
    color: #fff;
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 5rem;
    /* margin: 0 0 39px; */
}

.p_a span {
    color: #3fb698;
    font-family: "Poppins", sans-serif;
}

.social li {
    display: inline-block;
}

.social li a {
    background: #fff none repeat scroll 0 0;
    border-radius: 10rem;
    color: #3fb698;
    display: block;
    font-size: 1.6rem;
    height: 4rem;
    line-height: 4rem;
    margin-right: .8rem;
    text-align: center;
    width: 4rem;
}

.social li a:hover {
    background: #3fb698 none repeat scroll 0 0;
    color: #fff;
}

.f_pa {
    /* font white color on p and a */
    text-decoration: none;
    color: azure;
    /* margin-left: 20px; */
    font-weight: 200;
    font-size: 1.5rem;
}

.subtf_pa {
    text-decoration: none;
    color: azure !important;
    font-weight: 500;
    font-size: 2.5rem;
}

.separator-f {
    margin-bottom: 1.5rem;
    position: relative;
    width: 100%;
    height: .1rem;
    background: linear-gradient(to right, #3fb698 25%, #9aecd8 100%);
}

.hvc li a:hover {
    color: #3fb698;
    text-decoration: none;
}


.rotate-right {
    transform: rotate(270deg);
}

.padding-20 {
    padding: 2rem;
}

.padding-l-20 {
    padding-left: 2rem;
}

.padding-r-20 {
    padding-right: 2rem;
}

.padding-t-20 {
    padding-top: 2rem;
}

.padding-b-20 {
    padding-bottom: 2rem;
}

.padding-20 {
    padding: 2rem;
}

.padding-15 {
    padding: 1.5rem;
}

.padding-0 {
    padding: 0rem;
}

.left-m-10 {
    margin-left: 1rem;
}

.auto-hide-downcursor {
    display: none;
}

.subtf {
    text-decoration: none;
    color: azure !important;
    font-weight: 500;
    font-size: 1.5rem;
}

.ft_size {
    font-size: 1.6rem;
}

.footer-color .footer-list ul li a {
    color: azure;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

.footer-color .dropdown-content span:hover {
    color: #bd6f29;
}

.footer-color .remove-line a span:hover {
    color: #bd6f29;
}


.footer-color .remove-line a span:hover {
    color: #bd6f29;
}

.footer-color .left-m-40 {
    margin-left: 38%;
}

.footer-color .footer-section li a {
    color: azure;
    width: 2px;
    font-weight: 300;
    font-size: 10px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}


.footer-section li a:hover {
    color: #bd6f29 !important;
}

.footer-section li a:after {
    content: '|';
    font-family: 'FontAwesome';
    position: relative;
    /* width: 252px; */
    text-align: center;
    line-height: 3rem;
    height: 5rem;
    opacity: .5;
    right: -.4rem;

}

/********************* START:- FOOTER MOBILE SECTION ******************************** */
.footer-color .dropdown {
    position: relative;
    display: inline-block;
    width: 36.5rem;
}



@media screen and (max-width: 1200px) {
    .auto-hide {
        display: none;
    }

    .h_bch {
        height: 100rem;
    }

    .m_cf {
        margin-top: 5.2rem;
        font-size: 3rem;

    }

    .l-m {
        font-size: 2rem;
        line-height: 3rem;
    }
}

@media screen and (max-width: 1200px) {
    .footer-list ul {
        margin-left: 10px;
    }

    .subtf_pa {
        text-decoration: none;
        color: azure !important;
        font-weight: 500;
        /* font-size: 10px; */
    }

    .btn-border {
        background-color: inherit;
        border: 0.2rem solid #3fb698;
    }

    .footer-color {
        height: auto;
    }

    .col_d {
        flex-direction: column;
    }

    .size-15 {
        font-size: 1.5rem;
    }

    .padding-20 {
        padding: 2rem;
    }

    .padding-l-20 {
        padding-left: 2rem;
    }

    .padding-r-20 {
        padding-right: 2rem;
    }

    .padding-t-20 {
        padding-top: 2rem;
    }

    .padding-b-20 {
        padding-bottom: 2rem;
    }

    .padding-20 {
        padding: 2rem;
    }

    .padding-15 {
        padding: 1.5rem;
    }

    .padding-0 {
        padding: 0rem;
    }

    .left-m-10 {
        margin-left: 1rem;
    }

    .left-m-100 {
        margin-left: 10rem;

    }

    .left-m-120 {
        margin-left: 12rem;
    }

    .left-m-175 {
        margin-left: 17.5rem;
    }

    .left-m-210 {
        margin-left: 21rem;
    }

    .left-m-230 {
        margin-left: 23rem;
    }

    .left-m-275 {
        margin-left: 27.5rem;
    }

    .separator {
        margin-left: 2rem;
    }

    .hvc {
        margin-left: 1rem;
        line-height: 2.5rem;

    }

    .f_ms {
        font-size: 1.2rem;
        margin-left: -.2rem;
    }

}

@media screen and (max-width:1200px) {
    .footer-color .dropdown-content {
        display: none;
        position: relative;
        margin-top: 20px;
    }

    .footer-color.dropdown {
        position: relative;
        display: inline-block;
        width: 365px;
    }

    .footer-color .dropdown:hover .dropdown-content {
        display: block;
    }

    .footer-color .left-m-40 {
        margin-left: 10%;
    }
}

/************************* END:- FOOTER SECTION ***************************** */

@media screen and (min-width: 320px) {

    .digit_text {
        width: 100%;
    }

    .first_text {
        max-width: 100%;
    }

    .btn-border {
        width: 80%;
    }

    .block-image img {

        width: 200%;
    }

    .mar-img1 {
        margin-left: -17px;
    }

    .mar-img2 {
        margin-left: -34px;
    }
}

@media screen and (min-width: 375px) {
    .block-image img {

        width: 240%;
    }

    .mar-img1 {
        margin-left: 5px;
    }

    .mar-img2 {
        margin-left: 10px;
    }

    .btn-border {
        width: 95%;
    }

}