<!DOCTYPE html>
<html lang="en">

<head>
    <title>BCS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="icon" href="BSC_logo_no_bg (1).svg" type="image/x-icon">
    <link rel="stylesheet" href="../css/fresher_world.css">





</head>

<body>

    <div class="header ">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-md d-flex align-items-center top-marg-10 ">
                    <h6 class="size-15"><i class="fa fa-phone">
                        </i>Need any help? Talk to expert : +91 9620 35 4720</h6>
                </div>
                <div class="col-12 col-md d-flex justify-content-md-end">
                    <ul class="nav ">
                        <li><a class="size-15" href="#">Media Center</a></li>
                        <li><a class="size-15" href="#">Contact Us</a></li>
                        <li><a class="size-15" href="#">Career</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="navbar navbar-expand-md bg-dark navbar-dark fixed-top top-m-140">
        <a class="navbar-brand">
            <img src="../icons/BSC_logo_no_bg.svg " class="navbar-brand" alt="BCS">
        </a>
        <button type="button" class="navbar-toggler custom-btn" data-toggle="collapse" data-target="#menu">
            <div class="line-menubar"></div>
            <div class="line-menubar"></div>
            <div class="line-menubar"></div>
        </button>
        <div class="navbar-nav  collapse navbar-collapse  margin-right-40" id="menu">
            <div class="navbar-nav mx-auto nav_responsive margin-right-40">
                <a href="../templates/index(new).html" class="fwc_pa">Home</a>
                <a href="#" class="fwc_pa">Docs</a>
                <a href="#" class="fwc_pa">About</a>
                <a href="#" class="fwc_pa">Download</a>
                <a href="#" class="fwc_pa">Certifications</a>
                <a href="#" class="fwc_pa">Feedback</a>
            </div>
        </div>
    </div>

    <!-- *********************************** START: 1st SECTION ********************************************* -->
    <div class="banner ban-img">
        <div class="banner-color">
            <div class="container">
                <div class="row">
                    <div class="top-m-100 left-m-25">
                        <p class="digit_text">We Provide Best IT Services for Your Need</p>
                        <p class="first_text">We help transform the world most important businesses into that
                            anticipate the agile unpredtable adapt rapidly <br> disruption with high potential and high
                            ambition.</p>
                        <a class="main_btn" href="#" style=" text-decoration: none;">
                            More About Us
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- *********************************** END: 1st SECTION ********************************************* -->

    <!-- *********************************** START: 1st SECTION ********************************************* -->

    <section class="banner1">
        <div class="auto-container">
            <div class="sec-title centered">
                <div class="icon">
                    <i class="fa fa-home"></i>
                </div>
                <div class="title">Right Partner for Software Innovation</div>
                <h1>We Deliver Our Best Solution With <br>The Goal of Trusting</h1>
            </div>

            <div class="row top-m-50">
                <div class="col-lg-8">
                    <div>
                        <div>
                            <img src="../images/service-details.jpg" class="image1" alt="Images">
                        </div>
                        <div>
                            <h2>Cloud Computing</h2>
                            <p class="text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor. Aenean massa. cu
                                sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                                quam felis, ultricies ne,
                                pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
                                fringilla vel, aliquet n,
                                vu eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
                                dictum felis eu pede mollis
                                pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean
                                vulputate eleifend tellus. Aen
                                li, porttitor eu, consequat vitae, eleifend ac, enim.
                            </p>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <ul class="icon-border">
                                        <li><i class="fa fa-check margin-right-15"></i>Cost of Supplies and
                                            Equipment</li>
                                        <li><i class="fa fa-check margin-right-15"></i>Bribed Autor Nisi Elit
                                            Volume</li>
                                        <li><i class="fa fa-check margin-right-15"></i>Cost of Supplies and
                                            Equipment</li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <ul class="icon-border top-mm-10">
                                        <li><i class="fa fa-check margin-right-15"></i>Change the Volume of
                                            Expected</li>
                                        <li><i class="fa fa-check margin-right-15"></i>Easy to Customer Services
                                        </li>
                                        <li><i class="fa fa-check margin-right-15"></i>Good Quality Products
                                            Services</li>
                                    </ul>
                                </div>
                            </div>
                            <p class="text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor. Aenean massa. cu
                                sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                                quam felis, ultricies ne,
                                pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
                                fringilla vel, aliquet n,
                                vu eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
                                dictum felis eu pede mollis
                                pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean
                                vulputate eleifend tellus. Aen
                                li, porttitor eu, consequat vitae, eleifend ac, enim.
                            </p>
                        </div>
                        <div>
                            <h2>What Benefit You Will Get</h2>
                            <p class="text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor. Aenean massa. cu
                                sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                                quam felis, ultricies ne,
                                pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
                                fringilla vel, aliquet n,
                                vu eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
                                dictum felis eu pede mollis
                                pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean
                                vulputate eleifend tellus. Aen
                                li, porttitor eu, consequat vitae, eleifend ac, enim.
                            </p>
                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="service-article-another-img">
                                        <img src="../images/service-details-img1.jpg" alt="Images">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="service-article-another-img">
                                        <img src="../images/service-details-img2.jpg" alt="Images">
                                    </div>
                                </div>
                            </div>
                            <p class="text">
                                Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
                                sem nibh id elit. Duis sed
                                odio sit amet.Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat
                                ipsum, nec sagittis sem nibh id elit.
                                Duis sed odio sit amet.Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
                                consequat ipsum, nec sagittis sem nibh
                                id elit. Duis sed odio sit amet. li, porttitor eu, consequat vitae, eleifend ac, enim.
                            </p>
                        </div>
                        <div>
                            <h2>Our Working Proccess</h2>
                            <p class="text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor. Aenean massa. cu
                                sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                                quam felis, ultricies ne,
                                pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
                                fringilla vel, aliquet n,
                                vu eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
                                dictum felis eu pede mollis
                                pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean
                                vulputate eleifend tellus. Aen
                                li, porttitor eu, consequat vitae, eleifend ac, enim.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-4">
                    <div class="side-bar-area scr-1024">
                        <div class="side-bar-widget">
                            <h2>Our Services</h2>
                            <div class="icon">
                                <ul>
                                    <li>
                                        <i class="margin-right-10 fa fa-circle"></i><a href="#" target="_blank">IT
                                            Services</a>
                                    </li>
                                    <li>
                                        <i class="margin-right-10 fa fa-circle"></i>
                                        <a href="#" target="_blank">Cloud Computing</a>
                                    </li>
                                    <li>
                                        <i class="margin-right-10 fa fa-circle"></i>
                                        <a href="#" target="_blank">Web Development</a>
                                    </li>
                                    <li>
                                        <i class="margin-right-10 fa fa-circle"></i>
                                        <a href="#" target="_blank">Business Reform</a>
                                    </li>
                                    <li>
                                        <i class="margin-right-10 fa fa-circle"></i>
                                        <a href="#" target="_blank">Infrastructure</a>
                                    </li>
                                    <li>
                                        <i class="margin-right-10 fa fa-circle"></i>
                                        <a href="#" target="_blank">Data Analysis</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="top-m-150 side-bar-area">
                        <h2>Gallery</h2>

                        <div class="blog-gallery">
                            <div class="block-image">
                                <img src="../images/blog-small-img1.jpg" alt="image">
                            </div>
                            <div class="block-image">
                                <img src="../images/blog-small-img2.jpg" class="mar-img1" alt="image">
                            </div>
                            <div class="block-image">
                                <img src="../images/blog-small-img3.jpg" class="mar-img2" alt="image">
                            </div>
                            <div class="block-image">
                                <img src="../images/blog-small-img4.jpg" class="mar-img" alt="image">
                            </div>
                            <div class="block-image">
                                <img src="../images/blog-small-img5.jpg" class="mar-img1" alt="image">
                            </div>
                            <div class="block-image">
                                <img src="../images/blog-small-img6.jpg" class="mar-img2" alt="image">
                            </div>
                        </div>
                    </div>
                    <div class=" side-bar-area top-m-100 ">
                        <h2>Archive</h2>

                        <div class="icon">
                            <ul>
                                <li>
                                    <i class="margin-right-10 fa fa-circle"></i><a href="#" target="_blank">Design</a>
                                </li>
                                <li>
                                    <i class="margin-right-10 fa fa-circle"></i>
                                    <a href="#" target="_blank">Business</a>
                                </li>
                                <li>
                                    <i class="margin-right-10 fa fa-circle"></i>
                                    <a href="#" target="_blank">Development</a>
                                </li>
                                <li>
                                    <i class="margin-right-10 fa fa-circle"></i>
                                    <a href="#" target="_blank">Technology </a>
                                </li>
                                <li>
                                    <i class="margin-right-10 fa fa-circle"></i>
                                    <a href="#" target="_blank">Startup </a>
                                </li>
                                <li>
                                    <i class="margin-right-10 fa fa-circle"></i>
                                    <a href="#" target="_blank">Marketing Growth</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>
    </section>

    <!-- *********************************** END: 1st SECTION ********************************************* -->
    <!-- *********************************** START: 2ND SECTION ********************************************* -->

















    <!-- *********************************** END: 2ND SECTION ********************************************* -->



    <!--************************************ START: FOOTER SECTION *****************************************-->

    <footer class="footer-color">

        <hr class="horizontal dark mb-5">
        <div class="container">
            <div class=" row col_d">

                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border">
                            <a class="subtf_pa left-m-10">Industries<span><i
                                        class="fa fa-sort-desc subtf_pa left-m-210 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content hvc ft_size">
                            <a href=" #"><i
                                    class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                    aria-hidden="true"></i>
                                Banking & Financial Services</a>
                            <a href="#"><span><i
                                        class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                        aria-hidden="true"></i></span>Automotive Services </a>
                            <a href="#"><span><i
                                        class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                        aria-hidden="true"></i></span>IT
                                Solution </a>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border">
                            <a class="subtf_pa left-m-10">Services<span><i
                                        class="fa fa-sort-desc subtf_pa left-m-230 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content hvc ft_size">
                            <a href=" #"><i
                                    class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                    aria-hidden="true"></i>Consulting Services
                            </a>
                            <a href="#"><span><i
                                        class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                        aria-hidden="true"></i></span>Cloud Computing</a>
                            <a href="#"><span><i
                                        class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                        aria-hidden="true"></i></span>Automation & Artificial Intelligence
                            </a>
                            <a href="#"><span><i
                                        class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                        aria-hidden="true"></i></span>Web Services
                            </a>
                            <a href="#"><span><i
                                        class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                        aria-hidden="true"></i></span>Desktop & Mobile Applications
                            </a>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border">
                            <a class="subtf_pa left-m-10">Technologies<span><i
                                        class="fa fa-sort-desc subtf_pa left-m-175 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content hvc ft_size">
                            <a href=" #"><i
                                    class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                    aria-hidden="true"></i>
                                Modern C++</a>
                            <a href="#"><span><i
                                        class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                        aria-hidden="true"></i></span>Jango</a>
                            <a href="#"><span><i
                                        class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                        aria-hidden="true"></i></span>Java </a>
                            <a href="#"><span><i
                                        class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                        aria-hidden="true"></i></span>JavaScript frameworks
                            </a>
                            <a href="#"><span><i
                                        class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                        aria-hidden="true"></i></span>Apache Kafka
                            </a>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border">
                            <a class="subtf_pa left-m-10">BCS<span><i
                                        class="fa fa-sort-desc subtf_pa left-m-275 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content hvc ft_size">
                            <a href=" #"><i
                                    class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                    aria-hidden="true"></i>
                                About Us</a>
                            <a href="#"><span><i
                                        class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                        aria-hidden="true"></i></span> Partners </a>
                            <a href="#"><span><i
                                        class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                        aria-hidden="true"></i></span>Blogs</a>
                            <a href="#"><span><i
                                        class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                        aria-hidden="true"></i></span>Our Privacy & Policy </a>
                            <a href="#"><span><i
                                        class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                        aria-hidden="true"></i></span>Careers </a>
                            <a href="#"><span><i
                                        class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                        aria-hidden="true"></i></span>Events </a>
                            <a href="#"><span><i
                                        class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                        aria-hidden="true"></i></span>location </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator-f"></div>

        <div class="text-center">
            <p class="subtf fwc_pa f_ms ">
                All rights reserved. Copyright © 2021 by Boostinorbit.com
            </p>

        </div>
    </footer>

    <!--************************************ END: FOOTER SECTION *****************************************-->



</body>

</html>