<!DOCTYPE html>
<html lang="en">

<head>
    <title>BCS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="icon" href="../icon/BSC_logo_no_bg (1).svg" type="image/x-icon">
    <!-- <link rel="stylesheet" href="../css/index.css"> -->
    <!-- <link rel="stylesheet" href="../css/m_index.css"> -->
    <link rel="stylesheet" href="../css/tab_index.css">

</head>

<body>

    <!-- <div class="header ">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-md d-flex align-items-center">
                    <h6><i class="fa fa-phone">
                        </i>Need any help? Talk to expert : +91 9620 35 4720</h6>
                </div>
                <div class="col-12 col-md d-flex justify-content-md-end">
                    <ul class="nav">
                        <li><a href="#">media center</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Career</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class=" navbar navbar-expand-md bg-dark navbar-dark fixed-top top-m-140">

        <div class="d-flex navbar navbar-nav">
            <a href="#">
                <img src="../icon/BSC_logo_no_bg (1).svg" width="250px;" style="margin-left: 100px;" alt="BCS">
            </a>
            <div class="navbar-nav" style="margin-left: 500px">
                <a href="#" class="fwc_pa">Home</a>
                <a href="#" class="fwc_pa">Services</a>
                <a href="#" class="fwc_pa">About Us</a>
                <a href="#" class="fwc_pa">Pages</a>
                <a href="#" class="fwc_pa">Cases</a>
                <a href="#" class="fwc_pa">Blog</a>
            </div>

        </div> -->


    <!-- </div> -->

    <!-- *********************************** START: 1st SECTION ********************************************* -->
    <!-- <div class="banner">
        <div class="container">
            <div class="row">
                <div style="margin-top:100px;">
                    <p class="digit_text"> DIGITAL INFORMATION</p>
                    <p class="first_text"> Reinvent Companies for a digital future</p>
                    <p class="second_text"> Advotis is one of the world’s top business consulting firms.<br> We help
                        global leaders with their organization's most critical issues and opportunities.
                    </p>
                    <a class="main_btn" href="#" style=" text-decoration: none;">
                        View our services
                    </a>

                </div>
            </div>


        </div>
    </div> -->
    <!-- *********************************** END: 1st SECTION ********************************************* -->
    <!-- *********************************** START: 2ND SECTION ********************************************* -->

    <div class="wrapper">
        <!-- Accordion Heading One -->
        <div class="parent-tab">
            <input type="radio" name="tab" id="tab-1" checked>
            <label for="tab-1">
                <span>Accordion Heading One</span>
                <div class="icon"><i class="fas fa-plus"></i></div>
            </label>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing thelit. Quam, repellendus facere, id porro
                    magnam blanditiiss quoteos dolores ratione quidem ipsam esse quos pariatur, repellat obcaecati!
                </p>
            </div>
        </div>

        <!-- Accordion Heading Two -->
        <div class="parent-tab">
            <input type="radio" name="tab" id="tab-2">
            <label for="tab-2">
                <span>Accordion Heading Two</span>
                <div class="icon"><i class="fas fa-plus"></i></div>
            </label>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing thelit. Quam, repellendus facere, id porro
                    magnam blanditiiss quoteos dolores ratione quidem ipsam esse quos pariatur, repellat obcaecati!
                </p>
            </div>
        </div>
        <div class="parent-tab">
            <input type="radio" name="tab" id="tab-3">
            <label for="tab-3">
                <span>Accordion Heading Two</span>
                <div class="icon"><i class="fas fa-plus"></i></div>
            </label>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing thelit. Quam, repellendus facere, id porro
                    magnam blanditiiss quoteos dolores ratione quidem ipsam esse quos pariatur, repellat obcaecati!
                </p>
            </div>
        </div>

        <!-- Accordion Heading Three -->



        <!-- Accordion Heading Four -->

    </div>


    <!-- <div class="our_company banner2">

        <div class="container">
            <div class="row our_company_inner">
                <div class="col-lg-4">
                    <div class="company_sub_title">
                        <h5> Boost Consultancy Services - BCS</h5>
                        <h4>We work with you to address your most critical business priorities</h4>
                    </div>
                </div>
                <div class="col-lg-7 offset-lg-1">
                    <div class="company_desc">
                        <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end
                            of the day, going forward, a new normal that has evolved from generation X is on the runway
                            heading towards a streamlined cloud solution. User generated content in real-time will
                            have multiple touchpoints for offshoring.
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="company_item ">
                        <div class="company_img">
                            <img class="img-fluid" src="../image/company-1.jpg" alt="">
                        </div>
                        <div class="company_text p-c">
                            <a href="#">
                                <h4 class="s_h">Value Chain Positions</h4>
                            </a>
                            <p>Nanotechnology immersion along the information highway will close the loop on focus.</p>
                            <a class="more_btn" href="#">Find our more</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="company_item">
                        <div class="company_img ">
                            <img class="img-fluid" src="../image/company-2.jpg" alt="">
                        </div>
                        <div class="company_text p-c">
                            <a href="#">
                                <h4 class="s_h">Downside Risks</h4>
                            </a>
                            <p>Nanotechnology immersion along the information highway will close the loop on focus.</p>
                            <a class="more_btn" href="#">Find our more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="company_item">
                        <div class="company_img ">
                            <img class="img-fluid" src="../image/company-3.jpg" alt="">
                        </div>
                        <div class="company_text p-c">
                            <a href="#">
                                <h4 class="s_h">Key Value Drivers</h4>
                            </a>
                            <p>Nanotechnology immersion along the information highway will close the loop on focus.</p>
                            <a class="more_btn" href="#">Find our more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="company_item">
                        <div class="company_img">
                            <img class="img-fluid" src="../image/company-4.jpg" alt="">

                        </div>
                        <div class="company_text p-c">
                            <a href="#">
                                <h4 class="s_h">Investment tenure</h4>
                            </a>
                            <p>Nanotechnology immersion along the information highway will close the loop on focus. </p>
                            <a class="more_btn" href="#">Find our more</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div> -->


    <!-- *********************************** END: 2ND SECTION ********************************************* -->
    <!-- *********************************** START: 3RD SECTION ********************************************* -->


    <!-- <section style="background:#eceff3; height:350px;">
        <div class="container ">
            <div class="row">
                <div class="col-lg-8" style="margin-top: 270px; margin-left: 260px;">
                    <p class="text_p">Quit sitting idle and cash on innovation.
                        <a href="#">Know more aboutcompany</a>
                    </p>
                </div>
            </div>
        </div>
    </section> -->

    <!-- *********************************** END: 3RD SECTION ********************************************* -->
    <!-- *********************************** START: 4TH SECTION ********************************************* -->


    <!-- <section style="background:#fff;height:550px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6" style="margin-top:100px;">
                    <div class="mission_img" style="position: relative; max-width:100%;">
                        <img class="img-fluid " src="../image/company-mission.jpg" alt="">
                        <div class="company_about">
                            <h4>About Us</h4>
                            <p>Leverage agile frameworks to pro-vide a robust synopsis for high level overviews
                                Iterative
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6" style="margin-top:100px;">
                    <div class="mission_text">
                        <h3>Mission of our company to give best service to customers.</h3>
                        <h5>Capitalize on low hanging fruit to identify a ballpark value added activity to beta
                            test. Override the digital divide with additional clickthroughs from DevOps nanotechnology
                            immersion along the information.fruit to identify a ballpark value added activity to
                            beta
                        </h5>
                        <p style="color:#797979">Leverage agile frameworks to provide a robust synopsis for high
                            level overviews. Iterative approaches to corporate strategy foster ide a robust synopsis for
                            high level overviews.Iterative approaches to corporate strategy focollaborative thinking to
                            further.
                        </p>
                        <a class="more_btn" href="#">Find our more</a>
                    </div>
                </div>


            </div>
        </div>
    </section> -->

    <!-- *********************************** END: 4TH SECTION ********************************************* -->

    <!-- *********************************** START: 5TH SECTION ********************************************* -->

    <!-- 
    <div class="banner5">
        <div class="container ">
            <div class="row justify-content-center">
                <div class="col-lg-3" style="margin-top:100px;">
                    <div class="mission_text">
                        <h3 style=" padding: 10px;"> case studies</h3>
                        <p style="color:#797979; margin-top:10px;  padding: 10px;">Bring to the table win-win
                            sur-vival strategies to ensure proac-tive domination. At the end of the day, going forward,
                            a new normal that has evolved from generation X is on the runway healious.</p>
                    </div>

                </div>
                <div class="col-lg-3 " style="margin-top:100px;">
                    <div class="case_item">
                        <div class="case_img h2-single-case-study">
                            <img class="img-fluid" src="../image/case-1.jpg" alt="">
                        </div>
                        <div class="case_text">
                            <a href="#">
                                <h4>Business Growth</h4>
                            </a>
                            <p style="color:#797979; margin-top:10px;">Business gworth by strategy of planning.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 " style="margin-top:100px;">
                    <div class="case_item">
                        <div class="case_img h2-single-case-study">
                            <img class="img-fluid" src="../image/case-2.jpg" alt="">
                        </div>
                        <div class="case_text">
                            <a href="#">
                                <h4>Business Growth</h4>
                            </a>
                            <p style="color:#797979; margin-top:10px;">Business gworth by strategy of planning.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 " style="margin-top:100px;">
                    <div class="case_item">
                        <div class="case_img h2-single-case-study">
                            <img class="img-fluid" src="../image/case-3.jpg" alt="">
                        </div>
                        <div class="case_text">
                            <a href="#">
                                <h4>Business Growth</h4>
                            </a>
                            <p style="color:#797979; margin-top:10px;">Business gworth by strategy of planning.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div> -->

    <!-- *********************************** END: 5TH SECTION ********************************************* -->
    <!-- *********************************** START: 6TH SECTION ********************************************* -->

    <!-- 
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-12" style="margin-top:100px;">
                    <div class="section-title">
                        <h6>Case Studias</h6>
                        <h2 style="margin-bottom:25px; font-weight: bold; ">Case Studios: Business <br>
                            Consultimng</h2>
                        <p>There are many variations of passages of Lorem Ipsum available but the majority have
                            suffered alteration in some form by injected humour or randomised words which even slightly
                            believable.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-0 col-sm-8 offset-sm-2 col-12">
                    <div class="h2-single-case-study">
                        <div class="img">
                            <img src="../image/case-1 (1).jpg" alt="">
                        </div>
                        <div class="content">
                            <h6 class="name">Energy Solutions</h6>
                            <h6 class="link">
                                <a href="#">Driving towards the Future of Logistic &amp; Transportation</a>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-0 col-sm-8 offset-sm-2 col-12">
                    <div class="h2-single-case-study">
                        <div class="img">
                            <img src="../image/case-2 (1).jpg" alt="">
                        </div>
                        <div class="content">
                            <h6 class="name">Financing Management</h6>
                            <h6 class="link">
                                <a href="#">Using Leading Edge Technology and Sourcesfrom Modern Tech</a>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-0 col-sm-8 offset-sm-2 col-12">
                    <div class="h2-single-case-study">
                        <div class="img">
                            <img src="../image/case-3 (1).jpg" alt="">
                        </div>
                        <div class="content">
                            <h6 class="name">Business Services</h6>
                            <h6 class="link">
                                <a href="#">Consumer System Relationship and Management Services</a>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- *********************************** END: 6TH SECTION ********************************************* -->
    <!-- *********************************** START: 7TH SECTION ********************************************* -->
    <!-- <section style="background:#eceff3; height:800px; margin-top: -150px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-12" style="margin-top:200px;">
                    <div class="section-title">
                        <h6>How We Work</h6>
                        <h2>4 Steps To Make Successful<br> Business</h2>
                        <p>There are many variations of passages of Lorem Ipsum available but the majority have
                            suffered alteration in some form by injected humour or randomised words which even slightly
                            believable.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 ">
                    <div class="text-center">
                        <div class="graphics">
                            <div class="icon bi-color" style="margin-left:80px;">
                                <img src="../icon/stats.png" style="width: 60%;  " alt="">
                            </div>
                            <div class="mission_text" style="margin-top:15px; color: #797979">

                                <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 ">
                    <div class="text-center">
                        <div class="graphics">
                            <div class="icon bi-color" style="margin-left:80px;">
                                <img src="../icon/support.png" style="width: 60%; " alt="">
                            </div>
                            <div class="mission_text" style="margin-top:15px; color: #797979">

                                <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui
                                    officia.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 ">
                    <div class="text-center">
                        <div class="graphics">
                            <div class="icon bi-color" style="margin-left:80px;">
                                <img src="../icon/strategy.png" style="width: 60%;" alt="">
                            </div>
                            <div class="mission_text" style="margin-top:15px; color: #797979">

                                <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui
                                    officia.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 ">
                    <div class="text-center">
                        <div class="graphics">
                            <div class="icon bi-color" style="margin-left:80px;">
                                <img src="../icon/exam1.png" style="width: 60%;  " alt="">
                            </div>
                            <div class="mission_text" style="margin-top:15px; color: #797979">

                                <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui
                                    officia.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>


            </div>

        </div>

    </section> -->

    <!-- *********************************** END: 7TH SECTION ********************************************* -->
    <!-- *********************************** START: 8TH SECTION ********************************************* -->
    <!-- 

    <section style="margin-bottom: 50px;">
        <div style="background-image: url(../image/solution-bg.jpg); width: 100%; height:100%;">
            <div class="b-col" style="background: rgba(16, 16, 40, 0.8);padding: 320px;">
                <div class="container"></div>
                <div class="row align-items-center">
                    <div class="col-lg-8" style="margin-top:-150px;">
                        <div class="solution-box">
                            <div class="solution-content">
                                <p class="first_text" style="color: #fff;">Get Better Solution For Your Business</p>
                                <p class="second_text" style="color: #fff; font-size:16px;">Sed ut perspiciatis unde
                                    omnis iste natus error sit voluptatem accusantium doloremque laudantium totam
                                    rem aperiam eaque ipsa
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="video_icon">
                            <a class="popup-youtube" href="https://www.youtube.com/watch?v=uGYd5YqJKPk"
                                target="_blank"><i class="fa fa-play" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section> -->

    <!-- *********************************** END: 8TH SECTION ********************************************* -->
    <!-- *********************************** START: 9TH SECTION ********************************************* -->



    <!-- <div class="services-title-area">
        <div class=" container">
            <div class="row align-items-center">
                <div class="col-lg-12" style="margin-top:100px;">
                    <div class="services-title-item text-center">
                        <p class="second_text" style="color: #fff; font-weight:bold;">Our latest services</p>
                        <p class="title">We Offer Better Soluation For Your IT Business</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->



    <!-- *********************************** END: 9TH SECTION ********************************************* -->
    <!-- *********************************** START: 10TH SECTION ********************************************* -->


    <!-- 
    <div class="container">
        <div class="row" style="margin-top: -150px; margin-bottom:50px;">
            <div class="col-lg-4 col-sm-6">
                <div class="company_item">
                    <div class="company_img">
                        <img class="img-fluid" src="../image/services-4.2.jpg" alt="">
                    </div>
                    <div class="company_text" style="margin-top:25px;">
                        <h4 class="s_h">Infrastructure Planning </h4>
                        <div class="separator"></div>
                        <p>Nanotechnology immersion along the information highway will close the loop on focus.</p>
                        <div class=" read-btn">
                            <a href="#">Read More <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="company_item">
                    <div class="company_img">
                        <img class="img-fluid" src="../image/services-4.1.jpg" alt="">
                    </div>
                    <div class="company_text" style="margin-top:25px;">
                        <h4 class="s_h">Desktop Computing </h4>
                        <div class="separator"></div>
                        <p>Nanotechnology immersion along the information highway will close the loop on focus.</p>
                        <div class=" read-btn">
                            <a href="#">Read More <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="company_item">
                    <div class="company_img">
                        <img class="img-fluid" src="../image/services-4.3.jpg" alt="">
                    </div>
                    <div class="company_text" style="margin-top:25px;">
                        <h4 class="s_h">Big Data & Analytics </h4>
                        <div class="separator"></div>
                        <p>Nanotechnology immersion along the information highway will close the loop on focus.</p>
                        <div class=" read-btn">
                            <a href="#">Read More <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom: 50px;">
            <div class="col-lg-4 col-sm-6">
                <div class="company_item">
                    <div class="company_img">
                        <img class="img-fluid" src="../image/services-4.5.jpg" alt="">
                    </div>
                    <div class="company_text" style="margin-top:25px;">
                        <h4 class="s_h">Web Development </h4>
                        <div class="separator"></div>
                        <p>Nanotechnology immersion along the information highway will close the loop on focus. </p>
                        <div class=" read-btn">
                            <a href="#">Read More <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="company_item">
                    <div class="company_img">
                        <img class="img-fluid" src="../image/services-4.4.jpg" alt="">
                    </div>
                    <div class="company_text" style="margin-top:25px;">
                        <h4 class="s_h">It Management System</h4>
                        <div class="separator"></div>
                        <p>Nanotechnology immersion along the information highway will close the loop on focus. </p>
                        <div class=" read-btn">
                            <a href="#">Read More <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="company_item">
                    <div class="company_img">
                        <img class="img-fluid" src="../image/services-4.6.jpg" alt="">
                    </div>
                    <div class="company_text" style="margin-top:25px;">
                        <h4 class="s_h">Dedicated IT Solution </h4>
                        <div class="separator"></div>
                        <p>Nanotechnology immersion along the information highway will close the loop on focus. </p>
                        <div class=" read-btn">
                            <a href="#">Read More <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> -->





    <!-- *********************************** END: 10TH SECTION ********************************************* -->
    <!-- *********************************** START: 11TH SECTION ********************************************* -->

    <!-- 
    <div class="header11">
        <div style="background: rgba(16, 16, 40, 0.8); height:700px;">
            <div class="overlay"></div>
            <div class="container">
                <h2 class="first_text" style="color: #fff; font-size:40px;margin-left: 25%;">
                    Don't hesitate to contact us
                </h2>
                <div class="row">
                    <div class="col-md-6" style=" margin-top:50px;">

                        <form action="#" class="appointment">
                            <div class="row">
                                <div class="col-lg-6" style="margin-top:20px;">
                                    <div>
                                        <input type="text" class="form-control" placeholder="Your Name">
                                    </div>
                                </div>
                                <div class="col-md-6" style="margin-top:20px;">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-top:20px;">
                                    <div class="form-group">
                                        <div>
                                            <div class="select-wrap">
                                                <select name="" id="" class="form-control">
                                                    <option value="">Services</option>
                                                    <option value="">Web Development</option>
                                                    <option value="">Database Analysis</option>
                                                    <option value="">Server Security</option>
                                                    <option value="">UX/UI Strategy</option>
                                                    <option value="">Branding</option>
                                                    <option value="">Applications</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-top:20px;">
                                    <div class="form-group">
                                        <textarea name="" id="" cols="30" rows="7" class="form-control"
                                            placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-top:20px;">
                                    <div class="form-group">
                                        <input type="submit" value="Send message" class="btn btn-primary py-3 px-4">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6" style=" height:500px; margin-top:60px;">
                        <h2 class="p_a">Register your Participation in <span>“Business &amp; consulting”</span>
                            Conference Today!
                        </h2>
                        <p class="p_a" style="font-size:20px;font-weight:200; margin-top:10px;"> Contact Us:</p>
                        <p class="p_a" style="color:#3fb698; margin-top:-20px;"> +91 9620 35 4720</p>
                        <p class="p_a" style="font-size:22px;">info@Yourwebname.com</p>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- *********************************** END: 11TH SECTION ********************************************* -->
    <!--************************************ START: FOOTER SECTION *****************************************-->
    <!-- <footer class="footer-color">
        <hr class="horizontal dark mb-5">
        <div class="container">
            <div class=" row">
                <div class="col-md-3 col-sm-6 col-6 mb-4">
                    <div class="hov">
                        <p class="subtf_pa">Industries</p>
                        <div class="separator"></div>
                        <ul class="flex-column " style="list-style:none;">
                            <div class="hvc">
                                <li>
                                    <a class=" f_pa " href=" #"> Banking & Financial Services</a>
                                </li>
                                <li>
                                    <a class="f_pa top-m-10" href="#">Automotive Services </a>
                                </li>
                                <li>
                                    <a class="f_pa" href="#">IT Solution </a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6 mb-4">
                    <div>
                        <p class="subtf_pa">Services</p>
                        <div class="separator"></div>
                        <ul class="flex-column" style="list-style:none;">
                            <div class="hvc">
                                <li>
                                    <a class="f_pa" href="#">Consulting Services </a>
                                </li>
                                <li>
                                    <a class="f_pa" href="#">Cloud Computing</a>
                                </li>
                                <li>
                                    <a class="f_pa" href="#"> Automation & Artificial Intelligence</a>
                                </li>
                                <li>
                                    <a class="f_pa" href="#"> Web Services</a>
                                </li>
                                <li>
                                    <a class="f_pa" href="#"> Desktop & Mobile Applications</a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6 mb-4">
                    <div>
                        <p class="subtf_pa">Technologies </p>
                        <div class="separator"></div>
                        <ul class="flex-column" style="list-style:none;">
                            <div class="hvc">
                                <li>
                                    <a class="f_pa" href="#"> Modern C++ </a>
                                </li>
                                <li>
                                    <a class="f_pa" href="#">Jango</a>
                                </li>
                                <li>
                                    <a class="f_pa" href="#"> Java</a>
                                </li>
                                <li>
                                    <a class="f_pa" href="#">JavaScript frameworks</a>
                                </li>
                                <li>
                                    <a class="f_pa" href="#">Apache Kafka</a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6 mb-4 me-auto">
                    <div>
                        <p class="subtf_pa">BCS</p>
                        <div class="separator"></div>
                        <ul class="flex-column" style="list-style:none;">
                            <div class="hvc">
                                <li>
                                    <a class="f_pa" href="#"> About Us</a>
                                </li>
                                <li>
                                    <a class="f_pa" href="#"> Partners </a>
                                </li>
                                <li>
                                    <a class="f_pa" href="#">Blogs</a>
                                </li>
                                <li>
                                    <a class="f_pa" href="#">Our Privacy & Policy</a>
                                </li>
                                <li>
                                    <a class="f_pa" href="#"> Careers</a>
                                </li>
                                <li>
                                    <a class="f_pa" href="#"> Events </a>
                                </li>
                                <li>
                                    <a class="f_pa" href="#"> location</a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="separator-f"></div>
                <div class="col-12">
                    <div class="text-center">
                        <p class="subtf_pa fwc_pa">
                            All rights reserved. Copyright © 2021 by Boostinorbit.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer> -->

    <!--************************************ END: FOOTER SECTION *****************************************-->


</body>

</html>