<!DOCTYPE html>
<html lang="en">

<head>
    <title>BCS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="icon" href="BSC_logo_no_bg (1).svg" type="image/x-icon">
    <link rel="stylesheet" href="../css/IT_Solution.css">





</head>

<body>

    <div class="header ">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-md d-flex align-items-center top-marg-10 ">
                    <h6 class="size-15"><i class="fa fa-phone">
                        </i>Need any help? Talk to expert : +91 9620 35 4720</h6>
                </div>
                <div class="col-12 col-md d-flex justify-content-md-end">
                    <ul class="nav ">
                        <li><a class="size-15" href="#">Media Center</a></li>
                        <li><a class="size-15" href="#">Contact Us</a></li>
                        <li><a class="size-15" href="#">Career</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="navbar navbar-expand-md bg-dark navbar-dark fixed-top top-m-140">
        <a class="navbar-brand">
            <img src="../icons/BSC_logo_no_bg.svg " class="navbar-brand" alt="BCS">
        </a>
        <button type="button" class="navbar-toggler custom-btn" data-toggle="collapse" data-target="#menu">
            <div class="line-menubar"></div>
            <div class="line-menubar"></div>
            <div class="line-menubar"></div>
        </button>
        <div class="navbar-nav  collapse navbar-collapse  margin-right-40" id="menu">
            <div class="navbar-nav mx-auto nav_responsive margin-right-40">
                <a href="../templates/index(new).html" class="fwc_pa">Home</a>
                <a href="#" class="fwc_pa">Docs</a>
                <a href="#" class="fwc_pa">About</a>
                <a href="#" class="fwc_pa">Download</a>
                <a href="#" class="fwc_pa">Certifications</a>
                <a href="#" class="fwc_pa">Feedback</a>
            </div>
        </div>
    </div>

    <!-- *********************************** START: BANNER SECTION ********************************************* -->
    <div class="banner ban-img">
        <div class="banner-color">
            <div class="container">
                <div class="row">
                    <div class="top-m-100">
                        <p class="digit_text">We Are Adding Kinds of It Services That You Grow Success</p>
                        <p class="first_text">We are experienced professionals who understand that It services is
                            changing, and are true partners who care about your success. Our team provides a
                            consultative approach on emerging technology </p>
                        <a class="main_btn" href="#" style=" text-decoration: none;">
                            More About Us
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- *********************************** END: BANNER SECTION ********************************************* -->

    <!-- *********************************** START:1nd SECTION ********************************************* -->

















    <!--************************************ START: FOOTER SECTION *****************************************-->

    <footer class="footer-color">

        <hr class="horizontal dark mb-5">
        <div class="container">
            <div class=" row col_d">

                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border">
                            <a class="subtf_pa left-m-10">Industries<span><i
                                        class="fa fa-sort-desc subtf_pa left-m-210 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content hvc ft_size">
                            <a href=" #"><i
                                    class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                    aria-hidden="true"></i>
                                Banking & Financial Services</a>
                            <a href="#"><span><i
                                        class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                        aria-hidden="true"></i></span>Automotive Services </a>
                            <a href="#"><span><i
                                        class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                        aria-hidden="true"></i></span>IT
                                Solution </a>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border">
                            <a class="subtf_pa left-m-10">Services<span><i
                                        class="fa fa-sort-desc subtf_pa left-m-230 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content hvc ft_size">
                            <a href=" #"><i
                                    class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                    aria-hidden="true"></i>Consulting Services
                            </a>
                            <a href="#"><span><i
                                        class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                        aria-hidden="true"></i></span>Cloud Computing</a>
                            <a href="#"><span><i
                                        class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                        aria-hidden="true"></i></span>Automation & Artificial Intelligence
                            </a>
                            <a href="#"><span><i
                                        class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                        aria-hidden="true"></i></span>Web Services
                            </a>
                            <a href="#"><span><i
                                        class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                        aria-hidden="true"></i></span>Desktop & Mobile Applications
                            </a>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border">
                            <a class="subtf_pa left-m-10">Technologies<span><i
                                        class="fa fa-sort-desc subtf_pa left-m-175 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content hvc ft_size">
                            <a href=" #"><i
                                    class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                    aria-hidden="true"></i>
                                Modern C++</a>
                            <a href="#"><span><i
                                        class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                        aria-hidden="true"></i></span>Jango</a>
                            <a href="#"><span><i
                                        class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                        aria-hidden="true"></i></span>Java </a>
                            <a href="#"><span><i
                                        class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                        aria-hidden="true"></i></span>JavaScript frameworks
                            </a>
                            <a href="#"><span><i
                                        class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                        aria-hidden="true"></i></span>Apache Kafka
                            </a>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border">
                            <a class="subtf_pa left-m-10">BCS<span><i
                                        class="fa fa-sort-desc subtf_pa left-m-275 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content hvc ft_size">
                            <a href=" #"><i
                                    class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                    aria-hidden="true"></i>
                                About Us</a>
                            <a href="#"><span><i
                                        class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                        aria-hidden="true"></i></span> Partners </a>
                            <a href="#"><span><i
                                        class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                        aria-hidden="true"></i></span>Blogs</a>
                            <a href="#"><span><i
                                        class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                        aria-hidden="true"></i></span>Our Privacy & Policy </a>
                            <a href="#"><span><i
                                        class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                        aria-hidden="true"></i></span>Careers </a>
                            <a href="#"><span><i
                                        class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                        aria-hidden="true"></i></span>Events </a>
                            <a href="#"><span><i
                                        class="fa fa-sort-desc subtf_pa rotate-right size-15 padding-l-20 padding-r-20 auto-hide-downcursor"
                                        aria-hidden="true"></i></span>location </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator-f"></div>
        <div class="col-12">
            <div class="text-center ">
                <p class="subtf fwc_pa f_ms ">
                    All rights reserved. Copyright © 2021 by Boostinorbit.com
                </p>
            </div>
        </div>
        </div>
        </div>
    </footer>

    <!--************************************ END: FOOTER SECTION *****************************************-->



</body>

</html>