<!DOCTYPE html>
<html lang="en">

<head>
    <title>BCS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="icon" href="BSC_logo_no_bg (1).svg" type="image/x-icon">
    <link rel="stylesheet" href="IT_Solution.css">





</head>

<body>

    <div class="header ">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-md d-flex align-items-center top-marg-10 ">
                    <h6 class="size-15"><i class="fa fa-phone">
                        </i>Need any help? Talk to expert : +91 9620 35 4720</h6>
                </div>
                <div class="col-12 col-md-6 col-sm-6 d-flex justify-content-md-end">
                    <ul class="nav ">
                        <li><a class="size-15" href="#">Media Center</a></li>
                        <li><a class="size-15" href="#">Contact Us</a></li>
                        <li><a class="size-15" href="#">Career</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top top-m-140">
        <a class="navbar-brand">
            <img src="BSC_logo_no_bg.svg " class="navbar-brand" alt="BCS">
        </a>
        <button type="button" class="navbar-toggler custom-btn" data-toggle="collapse" data-target="#menu">
            <div class="line-menubar"></div>
            <div class="line-menubar"></div>
            <div class="line-menubar"></div>
        </button>
        <div class="navbar-nav  collapse navbar-collapse  margin-right-40" id="menu">
            <div class="navbar-nav mx-auto nav_responsive margin-right-40">
                <a href="../index.html" class="fwc_pa">Home</a>
                <a href="#" class="fwc_pa">Docs</a>
                <a href="../meet_us.html" class="fwc_pa">About</a>
                <a href="#" class="fwc_pa">Download</a>
                <a href="#" class="fwc_pa">Certifications</a>
                <a href="#" class="fwc_pa">Feedback</a>
            </div>
        </div>
    </div>

    <!-- *********************************** START: BANNER SECTION ********************************************* -->
    <div class="banner ban-img">
        <div class="banner-color">
            <div class="container">
                <div class="row">
                    <div class="top-m-100 left-m-25">
                        <p class="digit_text">We Are Adding Kinds of It Services That You Grow Success</p>
                        <p class="first_text">We are experienced professionals who understand that It services is
                            changing, and are true partners who care about your success. Our team provides a
                            consultative approach on emerging technology </p>
                        <a class="main_btn" href="#" style=" text-decoration: none;">
                            More About Us
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- *********************************** END: BANNER SECTION ********************************************* -->

    <!-- *********************************** START: 1st SECTION ********************************************* -->

    <section class="banner1">
        <div class="auto-container">
            <div class="sec-title centered">
                <div class="icon">
                    <i class="fa fa-home"></i>
                </div>
                <div class="title">Right Partner for Software Innovation</div>
                <h1>We Deliver Our Best Solution With <br>The Goal of Trusting</h1>
            </div>
            <div class="row top-m-50">
                <div class="col-lg-6 col-md-12 col-sm-10">
                    <div>
                        <div>
                            <img src="it_sol -1st section.jpg" class="image1" alt="Images">
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div>
                        <h2>we execute our ideas from the start to finish </h2>
                    </div>
                    <div class="text">
                        <p>
                            On the other hand we denounce with righteous indignation hill and dislike men who are so
                            beguiled and demoralized.
                        </p>
                        <div class="row top-m-20 ">
                            <div class="col-lg-6 col-md-6 col-sm-6 ">
                                <ul class="icon">
                                    <li><i class="fa fa-check margin-right-15"></i>Cost of supplies and equipment</li>
                                    <li><i class="fa fa-check margin-right-15"></i>Drive Business Process</li>
                                    <li><i class="fa fa-check margin-right-15"></i>Structure Data & Docs</li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <ul class="icon">
                                    <li><i class="fa fa-check margin-right-15"></i>Eliminate Repeat Entry</li>
                                    <li><i class="fa fa-check margin-right-15"></i>Drive Business Process</li>
                                    <li><i class="fa fa-check margin-right-15"></i>Structure Data & Docs</li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            Proin gravida nibh vel velit auctor aliquet aenean sollicitudin lorem quis bibend um auctor
                            nisi elit consequat ipsum.On the other hand we denounce with righteous indignation hill and
                            dislike men who are so beguiled.
                        </p>

                    </div>
                </div>

            </div>
            <div class="row top-m-50">
                <div class="col-lg-6 col-md-12">
                    <div>
                        <div class="subtitle top-m-50">
                            <p>OUR WORK PROCESS</p>
                            <h3> how itinc help of your business grow and successful</h3>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 col-md-12 top-m-50">
                    <div class="text top-m-25">
                        <p>We help digital companies to volume their self-interest and get a space Eaque ipsa quae ab
                            illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.Nemo enim
                            ipsam voluptatem quia voluptas.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="services-section">
        <div class="auto-container">
            <div class="row">
                <div class="service-block col-lg-3 col-md-6 col-sm-6">

                    <div class="inner-box">
                        <div class=" border-box1"></div>
                        <div class="icon">
                            <i class="fa fa-bezier-curve"></i>
                        </div>
                        <h4>IT DESIGN PROJECT</h4>
                        <div class="text">Design and propose products improvements through periodical and accurate
                            testing.</div>

                        <div class="border-box"></div>
                    </div>

                </div>

                <div class="service-block col-lg-3 col-md-6 col-sm-6">
                    <div class="inner-box">
                        <div class="border-box"></div>
                        <div class="icon">
                            <i class="fa fa-tasks"></i>
                        </div>
                        <h4>PRODUCT ENGINEER</h4>
                        <div class="text">Develop and propose product improvements through periodical and accurate
                            testing.</div>
                        <div class=" border-box1"></div>

                    </div>
                </div>

                <div class="service-block col-lg-3 col-md-6 col-sm-6">
                    <div class="inner-box">
                        <div class="border-box"></div>
                        <div class="icon ">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <h4>CLOUD INTEGRATION</h4>
                        <div class="text">Cloud Integrate for product improvements through periodical and accurate
                            testing.</div>
                        <div class=" border-box1"></div>

                    </div>
                </div>
                <div class="service-block col-lg-3 col-md-6 col-sm-6">
                    <div class="inner-box">
                        <div class="border-box"></div>
                        <div class="icon ">
                            <i class="fa fa-compass"></i>
                        </div>
                        <h4>IT CONSULTANCY</h4>
                        <div class="text">IT Consultancy for products improvements through periodical and accurate
                            testing.</div>
                        <div class=" border-box1"></div>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- *********************************** END: 1ST SECTION ********************************************* -->


    <!--**************************************START:- 2ND SECTION *******************************************-->



    <section class="banner2">
        <div class="auto-container">
            <div class="heading-title centered ">
                <div>
                    <h6> Technology solutions</h6>
                </div>
                <h1>We Provide IT & Business Solutions</h1>
                <div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting has been the industry’s standard
                        dummy <br>text.Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                </div>
            </div>
            <div class="row box-section top-m-100 ">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="row left-15">
                        <div class="box-container">
                            <div class="icon">
                                <i class="fa  fa-podcast" style="margin-top: 30px;"></i>
                            </div>
                            <div class="top-left-m">
                                <h6>Content Strategy</h6>
                                <p>Morbi vitae tristique sem, ut dignissim libero</p>
                            </div>
                        </div>
                    </div>
                    <div class="row top-m-80 left-mm-15">
                        <div class="box-container">

                            <div class="icon rotate-left">
                                <i class="fa  fa-align-left" style="margin-top: 30px;"></i>
                            </div>
                            <div class="top-left-m">
                                <h6>High Performance</h6>
                                <p>Morbi vitae tristique sem, ut dignissim libero</p>
                            </div>
                        </div>
                    </div>
                    <div class="row top-m-80 bot-m-50 left-15">

                        <div class="box-container">
                            <div class="icon">
                                <i class="fa fa-headphones" style="margin-top: 30px;"></i>
                            </div>
                            <div class="top-left-m">
                                <h6>Content Strategy</h6>
                                <p>Morbi vitae tristique sem, ut dignissim libero</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-4 col-md-10 col-sm-10 top-m-50">
                    <div class="banner2-image">
                        <img src="it_sol-sec2.webp" class="image1" alt="Images">
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="row left-15">
                        <div class="box-container">
                            <div class="icon">
                                <i class="fa fa-cog" style="margin-top: 30px;"></i>
                            </div>
                            <div class="top-left-m">
                                <h6>technology</h6>
                                <p>Morbi vitae tristique sem, ut dignissim libero</p>
                            </div>
                        </div>
                    </div>
                    <div class="row top-m-80 left-m-50 left-mm-15">
                        <div class="box-container">
                            <div class="icon">
                                <i class="fa fa-briefcase" style="margin-top: 30px;"></i>
                            </div>
                            <div class="top-left-m">
                                <h6>Media Marketing</h6>
                                <p>Morbi vitae tristique sem, ut dignissim libero</p>
                            </div>
                        </div>
                    </div>
                    <div class="row top-m-80 bot-m-50 left-15">
                        <div class="box-container">
                            <div class="icon">
                                <i class="fa fa-server" style="margin-top: 30px;"></i>
                            </div>
                            <div class="top-left-m">
                                <h6>Network Protection</h6>
                                <p>Morbi vitae tristique sem, ut dignissim libero</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!--**************************************END:- 2ND SECTION *******************************************-->
    <!-- *********************************** START: 3RD SECTION ********************************************* -->

    <section class="banner3">
        <div class="auto-container">
            <div class="sec-title centered">
                <div class="icon">
                    <i class="fa fa-home"></i>
                </div>
                <div class="title">Right Partner for Software Innovation</div>
                <h1>WE PROVIDE BEST SOLUTIONS FOR PREPARING <br>YOUR SUCCESS</h1>
            </div>

            <div class="row top-m-50">
                <div class="col-lg-4 col-xl-4">
                    <div class="side-bar-area scr-1024">
                        <div class="side-bar-widget">
                            <div style="margin-left: 20px;">
                                <h2>Our Services</h2>
                                <div class="icon">
                                    <ul>
                                        <li>
                                            <i class="margin-right-10 fa fa-angle-double-right"></i>
                                            <a href="#" target="_blank">IT Consultancy</a>
                                        </li>
                                        <li>
                                            <i class="margin-right-10 fa fa-angle-double-right"></i>

                                            <a href="#" target="_blank">Digital Services</a>
                                        </li>
                                        <li>
                                            <i class="margin-right-10 fa fa-angle-double-right"></i>

                                            <a href="#" target="_blank">Advisory Services</a>
                                        </li>
                                        <li>
                                            <i class="margin-right-10 fa fa-angle-double-right"></i>

                                            <a href="#" target="_blank">Data Structuring</a>
                                        </li>
                                        <li>
                                            <i class="margin-right-10 fa fa-angle-double-right"></i>

                                            <a href="#" target="_blank">Experience Design</a>
                                        </li>
                                        <li>
                                            <i class="margin-right-10 fa fa-angle-double-right"></i>

                                            <a href="#" target="_blank">Content Engineering</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="top-m-150 side-bar-area">
                        <div style="margin-left: 12px;">
                            <h2>About Us</h2>
                            <div class="blog-gallery">
                                <div class="block-image">
                                    <img src="it_sol-ban3-3.jpg" alt="image">
                                </div>
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                    piece orem Ipsum is not simply random text. It has roots in a piece of loream
                                    classical.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class=" side-bar-area top-m-100 ">
                        <div>
                            <div class="blog-gallery">
                                <div class="block-image2">
                                    <div class="block-color">
                                        <div class="container">
                                            <div class="row top-m-100">
                                                <div class="margin-left-20">
                                                    <h6> How Can We Help?</h6>
                                                    <p> If you any helps please feel free to contact us.</p>
                                                    <p><i class="fa fa-phone"></i>+91 9620 35 4720 </p>
                                                    <p class="fa-icon"><i class="fa fa-envelope"></i>
                                                        info@example@gmail.com
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-8">
                    <div>
                        <div>
                            <img src="project-six.jpg" class="image1" alt="Images">
                        </div>
                        <div>
                            <h2>Cloud Computing</h2>
                            <p class="text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor. Aenean massa. cu
                                sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                                quam felis, ultricies ne,
                                pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
                                fringilla vel, aliquet n,
                                vu eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
                                dictum felis eu pede mollis
                                pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean
                                vulputate eleifend tellus. Aen
                                li, porttitor eu, consequat vitae, eleifend ac, enim.
                            </p>

                            <h2>Why Choose Us?</h2>
                            <div class="row top-m-50">
                                <div class="col-lg-6 col-md-12 col-sm-8">
                                    <div>
                                        <img src="service-single-one.jpg" class="image2" alt="Images">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting
                                        industry. Lorem
                                        Ipsum has been the industry’s standard dummy text ever since the 1500s standard
                                        dummy text ever since the 1500s.</p>
                                    <ul class="icon-border top-mm-10">
                                        <li><i class="fa fa-check margin-right-15"></i>Which material types can you work
                                            with?
                                        </li>
                                        <li><i class="fa fa-check margin-right-15"></i>Can I have multiple in a single
                                            feature?
                                        </li>
                                        <li><i class="fa fa-check margin-right-15"></i>Is Smart Lock required for
                                            instant
                                            apps?</li>
                                        <li><i class="fa fa-check margin-right-15"></i>Which material types can you work
                                            with?</li>
                                        <li><i class="fa fa-check margin-right-15"></i>Is Smart Lock required for
                                            instant apps?</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="top-m-100">
                                <h2>Analyzing IT services</h2>
                            </div>
                            <p class="text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry’s standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
    </section>
    <!-- *********************************** END:3RD SECTION ********************************************* -->

    <!--************************************ START: FOOTER SECTION *****************************************-->

    <footer class="footer-color">

        <hr class="horizontal dark mb-5">
        <div class="container">
            <div class=" row col_d">

                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border remove-line">
                            <a href="../Industries_Services/Industries.html"
                                class="subtf_pa left-m-10"><span>Industries</span><span><i
                                        class="fa fa-sort-desc subtf_pa left-m-210 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content footer-list">
                            <ul>
                                <li style="list-style-type: none">
                                    <a href="../Industries_Services/Banking-&-financial_services.html"><span>
                                            Banking & Financial Services</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="../Industries_Services/Automotive_Services.html"><span>
                                            Automotive Services </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span>IT Solution</span></a> -->
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border remove-line">
                            <a href="../Services/Services.html" class="subtf_pa left-m-10"><span>Services
                                </span><span><i class="fa fa-sort-desc subtf_pa left-m-230 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content footer-list">
                            <ul>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span> Consulting Services</span></a> -->
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span> Cloud Computing </span></a> -->
                                </li>
                                <li style="list-style-type: none">
                                    <a href="../Services/artificial_intelligence.html"><span> Artificial
                                            Intelligence</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="../Services/web_development.html"><span> Web Development
                                        </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="../Services/Desktop_&_Mobile_ Applications.html"><span>Desktop &
                                            Mobile Applications </span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border remove-line">
                            <a href="../technologies/Technologies.html" class="subtf_pa left-m-10"><span>Technologies
                                </span><span><i class="fa fa-sort-desc subtf_pa left-m-175 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content footer-list">
                            <ul>
                                <li style="list-style-type: none">
                                    <a href="http://cascaron.org" target="_blank"><span>Cascaron Frameworks </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="http://xlvm.org" target="_blank"><span> XLVM Foundation</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span>Java</span></a> -->
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span> JavaScript frameworks</span></a> -->
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span>Apache Kafka</span></a> -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border">
                            <a class="subtf_pa left-m-10">BCS IT Solutions<span><i
                                        class="fa fa-sort-desc subtf_pa left-m-275 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content footer-list">
                            <ul>
                                <li style="list-style-type: none">
                                    <a href="../meet_us.html"><span> MeetUs</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span>Career</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span> Blog </span></a>
                                </li>

                                <!-- <li style="list-style-type: none">
                                    <a href="#"><span> Our Privacy & Policy </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span> Careers </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span> Events </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span> location </span></a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator-f"></div>
        <div class="col-12 " style="margin-bottom:80px">
            <ul class="nav left-m-40 footer-section">
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Accessibility Statements</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Cookies Policy</a></li>
                <li><a href="#">Covid 19 Notice</a></li>
                <li><a href="#">Sitemap</a></li>

            </ul>
        </div>
        <div class="text-center">
            <p class="subtf fwc_pa f_ms ">
                All rights reserved. Copyright © 2021 by Boostinorbit.com
            </p>

        </div>
    </footer>

    <!--************************************ END: FOOTER SECTION *****************************************-->



</body>

</html>