<!DOCTYPE html>
<html lang="en">

<head>
    <title>BCS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="icon" href="../icons/BSC_logo_no_bg (1).svg" type="image/x-icon">
    <link rel="stylesheet" href="../css/meet_us.css">






</head>

<body>

    <div class="header ">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-md d-flex align-items-center top-marg-10 ">
                    <h6 class="size-15"><i class="fa fa-phone">
                        </i>Need any help? Talk to expert : +91 9620 35 4720</h6>
                </div>
                <div class="col-12 col-md d-flex justify-content-md-end">
                    <ul class="nav ">
                        <li><a class="size-15" href="#">Media Center</a></li>
                        <li><a class="size-15" href="#">Contact Us</a></li>
                        <li><a class="size-15" href="#">Career</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="navbar navbar-expand-md bg-dark navbar-dark fixed-top top-m-140">
        <a class="navbar-brand">
            <img src="../icons/BSC_logo_no_bg.svg " class="navbar-brand" alt="BCS">
        </a>
        <button type="button" class="navbar-toggler custom-btn" data-toggle="collapse" data-target="#menu">
            <div class="line-menubar"></div>
            <div class="line-menubar"></div>
            <div class="line-menubar"></div>
        </button>
        <div class="navbar-nav  collapse navbar-collapse  margin-right-40" id="menu">
            <div class="navbar-nav mx-auto nav_responsive margin-right-40">
                <a href="../templates/index.html" class="fwc_pa">Home</a>
                <a href="#" class="fwc_pa">Docs</a>
                <a href="#" class="fwc_pa">About</a>
                <a href="#" class="fwc_pa">Download</a>
                <a href="#" class="fwc_pa">Certifications</a>
                <a href="#" class="fwc_pa">Feedback</a>
            </div>
        </div>
    </div>

    <!-- *********************************** START: BANNER SECTION ********************************************* -->
    <div class="banner ban-img">
        <div class="banner-color">
            <div class="container">
                <div class="row">
                    <div class="top-m-100 left-m-25 centered">
                        <p class="digit_text">Preparing for your success,
                            we provide truly prominent IT solutions.
                        </p>
                        <p class="first_text">We are experienced professionals who understand that It services is
                            changing, and are true partners who care about your success. Our team provides a
                            consultative approach on emerging technology </p>
                        <a class="main_btn" href="#" style=" text-decoration: none;">
                            More About Us
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- *********************************** END: BANNER SECTION ********************************************* -->

    <!-- *********************************** START: Write_US SECTION ********************************************* -->


    <section class=" banner1">
        <div class="h_bch">
            <div class="overlay"></div>
            <div class="container">

                <div class="row">
                    <p class="first_text m_cf l-m">
                        Don't hesitate to contact us
                    </p>
                    <div class="col-md-6 " style=" margin-top:50px;">

                        <form action="#" class="appointment">
                            <div class="row">
                                <div class="col-lg-6" style="margin-top:20px;">
                                    <div>
                                        <input type="text" class="form-control" placeholder="Your Name">
                                    </div>
                                </div>
                                <div class="col-md-6" style="margin-top:20px;">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-top:20px;">
                                    <div class="form-group">
                                        <div>
                                            <div class="select-wrap">
                                                <select name="" id="" class="form-control">
                                                    <option value="">Services</option>
                                                    <option value="">Web Development</option>
                                                    <option value="">Database Analysis</option>
                                                    <option value="">Server Security</option>
                                                    <option value="">UX/UI Strategy</option>
                                                    <option value="">Branding</option>
                                                    <option value="">Applications</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-top:20px;">
                                    <div class="form-group">
                                        <textarea name="" id="" cols="30" rows="7" class="form-control"
                                            placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-top:20px;">
                                    <div class="form-group">
                                        <input type="submit" value="Send message" class="btn btn-primary py-3 px-4">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6 left-m " style=" height:500px; margin-top:60px;">
                        <h2 class="p_a l-m">Register your Participation in <span>“Business &amp; consulting”</span>
                            Conference Today!
                        </h2>
                        <p class="p_a" style="font-size:20px;font-weight:200; margin-top:10px;"> Contact Us:</p>
                        <p class="p_a l-m" style="color:#3fb698; margin-top:-20px;"> +91 9620 35 4720</p>
                        <p class="p_a" style="font-size:22px;">info@Yourwebname.com</p>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>


    </section>


    <!-- *********************************** END: Write_Us SECTION ********************************************* -->



    <!--************************************ START: FOOTER SECTION *****************************************-->

    <footer class="footer-color">

        <hr class="horizontal dark mb-5">
        <div class="container">
            <div class=" row col_d">

                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border remove-line">
                            <a href="../Industries_Services/Industries.html" class="subtf_pa left-m-10"><span>Industries
                                </span><span><i class="fa fa-sort-desc subtf_pa left-m-210 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content footer-list">
                            <ul>
                                <li style="list-style-type: none">
                                    <a href="../templates/Industries_Services/Banking-&-financial_services.html"><span>
                                            Banking & Financial Services</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="../templates/Industries_Services/Automotive_Services.html"><span>
                                            Automotive Services </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span>IT Solution</span></a> -->
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border remove-line">
                            <a href="../Services/Services.html" class="subtf_pa left-m-10"><span>Services</span><span><i
                                        class="fa fa-sort-desc subtf_pa left-m-230 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content footer-list">
                            <ul>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span> Consulting Services</span></a> -->
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span> Cloud Computing </span></a> -->
                                </li>
                                <li style="list-style-type: none">
                                    <a href="../templates/Services/artificial_intelligence.html"><span>
                                            Artificial Intelligence</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="../templates/Services/web_development.html"><span> Web Development
                                        </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="../templates/Services/Desktop_&_Mobile_ Applications.html"><span>Desktop
                                            & Mobile Applications </span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border remove-line">
                            <a href="../technologies/Technologies.html"
                                class="subtf_pa left-m-10"><span>Technologies</span><span><i
                                        class="fa fa-sort-desc subtf_pa left-m-175 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content footer-list">
                            <ul>
                                <li style="list-style-type: none">
                                    <a href="#"><span>Cascaron Frameworks </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span>XLVM Foundation</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span>Java</span></a> -->
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span> JavaScript frameworks</span></a> -->
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span>Apache Kafka</span></a> -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border">
                            <a class="subtf_pa left-m-10">BCS<span><i
                                        class="fa fa-sort-desc subtf_pa left-m-275 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <!-- <div class="dropdown-content footer-list">
                                <ul>
                                    <li style="list-style-type: none">
                                        <a href="#"><span> About Us </span></a>
                                    </li>
                                    <li style="list-style-type: none">
                                        <a href="#"><span> Partners </span></a>
                                    </li>
                                    <li style="list-style-type: none">
                                        <a href="#"><span>Blogs</span></a>
                                    </li>
                                    <li style="list-style-type: none">
                                        <a href="#"><span> Our Privacy & Policy </span></a>
                                    </li>
                                    <li style="list-style-type: none">
                                        <a href="#"><span> Careers </span></a>
                                    </li>
                                    <li style="list-style-type: none">
                                        <a href="#"><span> Events </span></a>
                                    </li>
                                    <li style="list-style-type: none">
                                        <a href="#"><span> location </span></a>
                                    </li>
                                </ul>
                            </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="separator-f"></div>
        <div class="col-12 " style="margin-bottom:80px">
            <ul class="nav left-m-40 footer-section">
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Accessibility Statements</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Cookies Policy</a></li>
                <li><a href="#">Covid 19 Notice</a></li>
                <li><a href="#">Sitemap</a></li>

            </ul>
        </div>
        <div class="text-center">
            <p class="subtf fwc_pa f_ms ">
                All rights reserved. Copyright © 2021 by Boostinorbit.com
            </p>

        </div>
    </footer>

    <!--************************************ END: FOOTER SECTION *****************************************-->


</body>

</html>