<!DOCTYPE html>
<html lang="en">

<head>
    <title>BCS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css" />

    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="icon" href="BSC_logo_no_bg (1).svg" type="image/x-icon">
    <link rel="stylesheet" href="meet_us.css">






</head>

<body>

    <div class="header ">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-md d-flex align-items-center top-marg-10 ">
                    <h6 class="size-15"><i class="fa fa-phone">
                        </i>Need any help? Talk to expert : +91 9620 35 4720</h6>
                </div>
                <div class="col-12 col-md d-flex justify-content-md-end">
                    <ul class="nav ">
                        <li><a class="size-15" href="#">Media Center</a></li>
                        <li><a class="size-15" href="#contact">Contact Us</a></li>
                        <li><a class="size-15" href="#">Career</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="navbar navbar-expand-md bg-dark navbar-dark fixed-top top-m-140">
        <a class="navbar-brand">
            <img src="BSC_logo_no_bg.svg " class="navbar-brand" alt="BCS">
        </a>
        <button type="button" class="navbar-toggler custom-btn" data-toggle="collapse" data-target="#menu">
            <div class="line-menubar"></div>
            <div class="line-menubar"></div>
            <div class="line-menubar"></div>
        </button>
        <div class="navbar-nav  collapse navbar-collapse  margin-right-40" id="menu">
            <div class="navbar-nav mx-auto nav_responsive margin-right-40">
                <a href="../index.html" class="fwc_pa">Home</a>
                <a href="#" class="fwc_pa">Docs</a>
                <a href="#about_us" class="fwc_pa">About</a>
                <a href="#" class="fwc_pa">Download</a>
                <a href="#" class="fwc_pa">Certifications</a>
                <a href="#" class="fwc_pa">Feedback</a>
            </div>
        </div>
    </div>

    <!-- *********************************** START: BANNER SECTION ********************************************* -->
    <div class="banner ban-img">
        <div class="banner-color">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="left-m-25 centered">
                            <p class="digit_text">About Us</p>
                            <ul class="menu">
                                <li><a href="../index.html">Home</a></li>
                                <li><span>About Us</span></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- *********************************** END: BANNER SECTION ********************************************* -->
    <!-- *********************************** START:- About_Us  SECTION ********************************************* -->



    <section class="banner1" id="about_us">
        <div class="container">
            <div class="row top-m-100 bottom-m">
                <div class="col-lg-6 col-md-12">
                    <div class="section-img">
                        <img src="abouts_img.png" alt="image">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="section-text">
                        <h6>About Us</h6>
                        <h1>More than 23+ years we provide IT solutions.</h1>

                        <div class="text">
                            <p>Sed ut perspiciatis unde omnis iste natus errorsit voluptatem accusantium doloremque
                                laudantium totam rem aperiam eaque ipsa quae ab illo invetore veritatis et quasi
                                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                                voluptatem.
                            </p>

                            <p> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                                sed quia consequuntur magni dolores eos qui ratione voluptatem
                            </p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- *********************************** END:- About_Us  SECTION ********************************************* -->

    <!-- *********************************** START:- Team  SECTION ********************************************* -->

    <section class="banner2">
        <div class="auto-container">
            <div class="row">
                <div class="col-lg-6 col-md-12 top-m-50">
                    <div>
                        <div class="subtitle ">
                            <h3>BCS IT Solutions Experts</h3>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 col-md-12 top-m-50 ">
                    <div class="text">
                        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet velit sed
                            quia non numquam eius modi tempora incidunt labore dolore magna aliqua
                            enim minim veniam, quis nostrud exercitation ullamco..
                        </p>
                    </div>
                </div>
            </div>
            <div class="row top-m-50">
                <div class="col-lg-6 col-md-12 ">
                    <div class="inner-box">
                        <div class="image-box">

                            <div class="image-wrapper">
                                <img src="team-image-4-1.jpg" class="image" alt="normal" />
                                <img src="team-image-5-1.jpg" class="image-hover" alt="hover" />
                            </div>
                        </div>
                        <div class="box-container">

                            <div class="DetailsBox">
                                <div class="person-details">
                                    <div class="name">
                                        <h3> Amayda Tim</h3>
                                        <p>Team Leader, IT</p>
                                    </div>
                                    <div class="text">
                                        <p>Lorem ipsum dolor amet consectet adip iscing sed do.</p>
                                    </div>
                                    <div class="border-box"></div>
                                </div>

                                <div>
                                    <div class="social">
                                        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6 col-md-12 margin-top-100 ">
                    <div class="inner-box">
                        <div class="image-box">

                            <div class="image-wrapper">
                                <img src="team-image-4-1.jpg" class="image" alt="normal" />
                                <img src="team-image-5-1.jpg" class="image-hover" alt="hover" />
                            </div>
                        </div>
                        <div class="box-container">

                            <div class="DetailsBox">
                                <div class="person-details">
                                    <div class="name">
                                        <h3> Paul Wilsona</h3>
                                        <p>CEO, IT Expert</p>
                                    </div>
                                    <div class="text">
                                        <p>Lorem ipsum dolor amet consectet adip iscing sed do.</p>
                                    </div>
                                    <div class="border-box"></div>
                                </div>
                                <div>
                                    <div class="social">
                                        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </section>

    <!-- *********************************** END:- Team  SECTION ********************************************* -->

    <!-- *********************************** START:- LOCATIONS-MAPs  SECTION ********************************************* -->

    <section class="banner3 locations-section">
        <div class="auto-container">
            <div class="section-title centered ">
                <h1>Trusted By 5M Customers <br> Around The World</h1>
                <p> Sit amet consectetur adipisicing elitm sed eiusmod temp sed incididunt labore dolore
                    <br> veniam quis ipsum nostrud exer citation ullamco laboris.</p>
            </div>
            <div class="map-box top-m-50">

                <div class="map-image">
                    <img src="location-map-pattern-img.png" alt="" title="">
                </div>


                <!-- <div class="location-point loc-one">
                    <div class="inner">100+ Projects Done For Local IT Companies</div>
                </div> -->


                <div class="location-point loc-two">
                    <div class="inner">Toronto, ON, CA</div>
                </div>


                <!-- <div class="location-point loc-three">
                    <div class="inner">100+ Projects Done For Local IT Companies</div>
                </div> -->


                <!-- <div class="location-point loc-four">
                    <div class="inner">100+ Projects Done For Local IT Companies</div>
                </div> -->
                <div class="location-point loc-five">
                    <div class="inner">Isle of Man, England</div>
                </div>

                <!-- 
                <div class="location-point loc-six">
                    <div class="inner">London, UK</div>
                </div> -->


                <div class="location-point loc-seven">
                    <div class="inner">Bangalore, India</div>
                </div>


                <!-- <div class="location-point loc-eight">
                    <div class="inner">100+ Projects Done For Local IT Companies</div>
                </div>


                <div class="location-point loc-nine">
                    <div class="inner">100+ Projects Done For Local IT Companies</div>
                </div>


                <div class="location-point loc-ten">
                    <div class="inner">100+ Projects Done For Local IT Companies</div>
                </div> -->


                <div class="location-point loc-eleven">
                    <div class="inner">Delhi, India</div>
                </div>

                <!-- 
                <div class="location-point loc-twelve">
                    <div class="inner">100+ Projects Done For Local IT Companies</div>
                </div> -->

            </div>
        </div>
    </section>
    <!-- *********************************** END:- LOCATIONS-MAPs  SECTION ********************************************* -->
    <!-- *********************************** START:- LOCATIONS  SECTION ********************************************* -->
    <!-- 
    <section class="locations1">
        <div class="container">
            <div class="located centered ">
                <h1>Office Locations</h1>
            </div>

            <div class="row left-m-50">

                <div class="col-lg-4 top-m-50">
                    <div class="located-details">
                        <h2>Delhi, India</h2>
                        <p>BDO AUCKLAND,
                            Level 4, 4 Graham Street,
                            Delhi,
                            India</p>
                        <p><span>+91 9620 35 4720</span></p>
                    </div>
                </div>
                <div class="col-lg-4 top-m-50">
                    <div class="located-details">
                        <h2>Isle of Man, England</h2>
                        <p>BDO AUCKLAND,
                            Level 4, 4 Graham Street,
                            Auckland 1010
                            England</p>
                        <p><span>+91 9620 35 4720</span></p>
                    </div>
                </div>
                <div class="col-lg-4 top-m-50">
                    <div class="located-details">
                        <h2>Toronto, ON, CA</h2>
                        <p>BDO AUCKLAND,
                            Level 4, 4 Graham Street,
                            Auckland 1010
                            Canada</p>
                        <p><span>+91 9620 35 4720</span></p>
                    </div>
                </div>

            </div>
        </div>
    </section> -->



    <!-- *********************************** START:- LOCATIONS  SECTION ********************************************* -->

    <!-- *********************************** START:- Contact  SECTION ********************************************* -->


    <!-- <section class="banner4">

        <div class="auto-container">
            <div class="row">
                <div class="col-lg-6 ">
                    <div class="contact-img">
                        <img src="contact-img.png" alt="image">
                    </div>
                </div>
                <div class="col-lg-6 top-m-100">
                    <div class="information">
                       
                        <div class="content">

                            <div class="main-content">
                                <h4 class="heading">
                                    Contact Us !
                                </h4>
                            
                                <div class="icon">
                                    <h6><span class="fa fa-phone">
                                        </span>+91 9620 35 4720</h6>
                                </div>

                            </div>
                        </div>
                        <div class="content top-m-50">

                            <div class="main-content ">
                                <h4 class="heading">
                                    Welcome !
                                </h4>
                            
                                <div class="icon">
                                    <h6><i class="fa fa-envelope">
                                        </i>info@bcs-itsolutions.com</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section> -->


    <!-- *********************************** End:- Contact  SECTION ********************************************* -->








    <!-- *********************************** START: Write_US SECTION ********************************************* -->

    <!-- 
    <section class=" banner1">
        <div class="h_bch">
            <div class="overlay"></div>
            <div class="container">

                <div class="row">
                    <p class="first_text m_cf l-m">
                        Don't hesitate to contact us
                    </p>
                    <div class="col-md-6 " style=" margin-top:50px;">

                        <form action="#" class="appointment">
                            <div class="row">
                                <div class="col-lg-6" style="margin-top:20px;">
                                    <div>
                                        <input type="text" class="form-control" placeholder="Your Name">
                                    </div>
                                </div>
                                <div class="col-md-6" style="margin-top:20px;">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-top:20px;">
                                    <div class="form-group">
                                        <div>
                                            <div class="select-wrap">
                                                <select name="" id="" class="form-control">
                                                    <option value="">Services</option>
                                                    <option value="">Web Development</option>
                                                    <option value="">Database Analysis</option>
                                                    <option value="">Server Security</option>
                                                    <option value="">UX/UI Strategy</option>
                                                    <option value="">Branding</option>
                                                    <option value="">Applications</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-top:20px;">
                                    <div class="form-group">
                                        <textarea name="" id="" cols="30" rows="7" class="form-control"
                                            placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-top:20px;">
                                    <div class="form-group">
                                        <input type="submit" value="Send message" class="btn btn-primary py-3 px-4">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6 left-m " style=" height:500px; margin-top:60px;">
                        <h2 class="p_a l-m">Register your Participation in <span>“Business &amp; consulting”</span>
                            Conference Today!
                        </h2>
                        <p class="p_a" style="font-size:20px;font-weight:200; margin-top:10px;"> Contact Us:</p>
                        <p class="p_a l-m" style="color:#3fb698; margin-top:-20px;"> +91 9620 35 4720</p>
                        <p class="p_a" style="font-size:22px;">info@Yourwebname.com</p>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>


    </section>
 -->

    <!-- *********************************** END: Write_Us SECTION ********************************************* -->



    <!--************************************ START: FOOTER SECTION *****************************************-->

    <footer class="footer-color">

        <hr class="horizontal dark mb-5">
        <div class="container">
            <div class=" row col_d">

                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border remove-line">
                            <a href="../Industries_Services/Industries.html" class="subtf_pa left-m-10"><span>Industries
                                </span><span><i class="fa fa-sort-desc subtf_pa left-m-210 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content footer-list">
                            <div>
                                <li style="list-style-type: none">
                                    <a href="../Industries_Services/Banking-&-financial_services.html"><span>
                                            Banking & Financial Services</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="../Industries_Services/Automotive_Services.html"><span>
                                            Automotive Services </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span>IT Solution</span></a> -->
                                </li>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border remove-line">
                            <a href="../Services/Services.html" class="subtf_pa left-m-10"><span>Services</span><span><i
                                        class="fa fa-sort-desc subtf_pa left-m-230 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content footer-list">
                            <div>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span> Consulting Services</span></a> -->
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span> Cloud Computing </span></a> -->
                                </li>
                                <li style="list-style-type: none">
                                    <a href="../Services/artificial_intelligence.html"><span>
                                            Artificial Intelligence</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="../Services/web_development.html"><span> Web
                                            Development
                                        </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="../Services/Desktop_&_Mobile_ Applications.html"><span>Desktop
                                            & Mobile Applications </span></a>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border remove-line">
                            <a href="../technologies/Technologies.html"
                                class="subtf_pa left-m-10"><span>Technologies</span><span><i
                                        class="fa fa-sort-desc subtf_pa left-m-175 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content footer-list">
                            <div>
                                <li style="list-style-type: none">
                                    <a href="http://cascaron.org" target="_blank"><span>Cascaron Frameworks </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="http://xlvm.org" target="_blank"><span> XLVM Foundation</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span>Java</span></a> -->
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span> JavaScript frameworks</span></a> -->
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span>Apache Kafka</span></a> -->
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border">
                            <a class="subtf_pa left-m-10">BCS IT Solutions<span><i
                                        class="fa fa-sort-desc subtf_pa left-m-275 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content footer-list">
                            <div>
                                <li style="list-style-type: none">
                                    <a href="../meet_us.html"><span> MeetUs</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span>Career</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span> Blog </span></a>
                                </li>

                                <!-- <li style="list-style-type: none">
                                    <a href="#"><span> Our Privacy & Policy </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span> Careers </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span> Events </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span> location </span></a>
                                </li> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator-f"></div>
        <div class="col-12 " style="margin-bottom:80px">
            <ul class="nav left-m-40 footer-section">
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Accessibility Statements</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Cookies Policy</a></li>
                <li><a href="#">Covid 19 Notice</a></li>
                <li><a href="#">Sitemap</a></li>

            </ul>
        </div>
        <div class="text-center">
            <div>
                <p class="subtf fwc_pa f_ms ">
                    All rights reserved. Copyright © 2021 by Boostinorbit.com
                </p>
            </div>
        </div>
    </footer>

    <!--************************************ END: FOOTER SECTION *****************************************-->


</body>

</html>