<!DOCTYPE html>
<html lang="en">

<head>
    <title>BCS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="icon" href="BSC_logo_no_bg (1).svg" type="image/x-icon">
    <link rel="stylesheet" href="troops_system.css">





</head>

<body>

    <div class="header ">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-md d-flex align-items-center top-marg-10 ">
                    <h6 class="size-15"><i class="fa fa-phone">
                        </i>Need any help? Talk to expert : +91 9620 35 4720</h6>
                </div>
                <div class="col-12 col-md d-flex justify-content-md-end">
                    <ul class="nav ">
                        <li><a class="size-15" href="#">Media Center</a></li>
                        <li><a class="size-15" href="#">Contact Us</a></li>
                        <li><a class="size-15" href="#">Career</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top top-m-140">
        <a class="navbar-brand">
            <img src="BSC_logo_no_bg.svg " class="navbar-brand" alt="BCS">
        </a>
        <button type="button" class="navbar-toggler custom-btn" data-toggle="collapse" data-target="#menu">
            <div class="line-menubar"></div>
            <div class="line-menubar"></div>
            <div class="line-menubar"></div>
        </button>
        <div class="navbar-nav  collapse navbar-collapse  margin-right-40" id="menu">
            <div class="navbar-nav mx-auto nav_responsive margin-right-40">
                <a href="../index.html" class="fwc_pa">Home</a>
                <a href="#" class="fwc_pa">Docs</a>
                <a href="../meet_us.html" class="fwc_pa">About</a>
                <a href="#" class="fwc_pa">Download</a>
                <a href="#" class="fwc_pa">Certifications</a>
                <a href="#" class="fwc_pa">Feedback</a>
            </div>
        </div>
    </div>

    <!-- *********************************** START: BANNER SECTION ********************************************* -->
    <div class="banner">
        <div class="banner-color">
            <div class="container">
                <div class="row">
                    <div class="top-m-150 left-m-15">

                        <p class="first_text">Excellent IT Services for Your Success </p>
                        <p class="digit_text">We are the unique set-up, that is ready to challenge and knock out such a
                            global problem as unemployment.
                        </p>
                        <a class="main_btn" href="#" style=" text-decoration: none;">
                            More About Us
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- *********************************** END: BANNER SECTION ********************************************* -->

    <!-- *********************************** START: 1st SECTION ********************************************* -->

    <section class="banner1">
        <div class="auto-container">
            <div class="sec-title centered">
                <div class="icon">
                    <i class="fa fa-home"></i>
                </div>
                <div class="title">Property Insight &amp; Opinion</div>
                <h2>Maximising value for property <br> through investment</h2>
            </div>

            <div class="row ">
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <h3> TROOPS SYSTEM</h3>
                        <div class="text">
                            <p>Nam ac elit a ante commodo tristique. Duis lacus urna, cona vehicula a, hendrerit ac nisi
                                Lorem ipsum dolor sit amet, cadipiscing elit. Aliquam vulputate, tortor nec commodo
                                ultri viverra Suspendisse faucibus sed dolor eget posuere.Sed idurna. Nam ac elit a ante
                                commodo tristique. </p>
                            <p>adipiscing elit. Aliquam vulputate, tortor nec commodo ultriviverra Suspendisse faucibus
                                sed dolor eget posuere.Sed id urna. Nam ac elit a ante commodo tristique. </p>
                        </div>

                    </div>
                </div>

                <div class="images-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="border-layer"></div>
                        <div class=" image image-one">
                            <img src="investment-1.jpg" alt="">
                            <div class="box">
                                <div class="box-inner">
                                    <div class="count-outer count-box counted">
                                        <span class="count-text">160</span>
                                    </div>
                                    <h6 class="counter-title">years expertise</h6>
                                </div>
                            </div>
                        </div>
                        <div class="image-two">
                            <img src="investment-2.jpg" alt="">
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>


    <section class="services-section">
        <div class="auto-container">
            <div class="row">
                <div class="service-block col-lg-4 col-md-6 col-sm-6">

                    <div class="inner-box" style="height: 316px">
                        <div class=" border-box1"></div>
                        <div class="border-box"></div>

                        <div class="icon">
                            <i class="fa fa-building"></i>
                        </div>
                        <h4><a href="#">Property Investment</a></h4>
                        <div class="text">Nam ac elit a ante commodo tristiqa vehicula a, hendrerit ac nisi Lorem
                            adipiscing elit tortor.</div>
                    </div>

                </div>

                <div class="service-block col-lg-4 col-md-6 col-sm-6">
                    <div class="inner-box">
                        <div class="border-box"></div>
                        <div class=" border-box1"></div>
                        <div class="icon">
                            <i class="fa fa-home"></i>
                        </div>
                        <h4><a href="#">Loan for House</a></h4>
                        <div class="text">Nam ac elit a ante commodo tristiqa vehicula a, hendrerit ac nisi Lorem
                            adipiscing elit tortor.</div>

                    </div>
                </div>

                <div class="service-block col-lg-4 col-md-6 col-sm-6">
                    <div class="inner-box" style="height: 316px">
                        <div class="border-box"></div>
                        <div class=" border-box1"></div>
                        <div class="icon ">
                            <i class="fa fa-compass"></i>
                        </div>
                        <h4><a href="#">Development Plans</a></h4>
                        <div class="text">Nam ac elit a ante commodo tristiqa vehicula a, hendrerit ac nisi Lorem
                            adipiscing elit tortor.</div>

                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- *********************************** END: 1st SECTION ********************************************* -->
    <!-- *********************************** START:- 2ND SECTION ********************************************* -->

    <section class="banner2 bottom-m-100">
        <div class="auto-container">
            <div class="sec-title centered">
                <p class="text">Our Workflow</p>
                <p>To get startup and grow properly, you need money and the right partners, where <br>we come to take
                    your business to the next level with the right financing.
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="">
                        <img src="interview.jpg" class="ban2-image1" alt=" image">
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="count-number top-m-10">01</p>
                    <h4 class="heading-title marg-heig">We first do an intake interview with you to know your goals.
                    </h4>
                    <p class="heading-text marg-heig">Pellentesque eu tincidunt tortor aliquam nulla facilisi. Lectus
                        magna
                        fringilla urna porttitor
                        rhoncus dolor purus. Pretium fusce id velit ut tortor pretium. Sed odio morbi quis commodo odio
                        aenean sed.</p>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="count-number2">02</p>
                    <h4 class="heading-title">The funding strategy starts according to business goals.</h4>
                    <p class="heading-text">Pellentesque eu tincidunt tortor aliquam nulla facilisi. Lectus magna
                        fringilla urna porttitor rhoncus dolor purus. Pretium fusce id velit ut tortor pretium. Sed odio
                        morbi quis commodo odio aenean sed.</p>
                </div>
                <div class="col-md-6">
                    <div class="">
                        <img src="fstg.jpg" class="ban2-image2" alt=" image">
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="top-m-150">
                        <img src="investor.jpg" class="ban2-image1" alt=" image">
                    </div>
                </div>
                <div class="col-md-6 top-m-150">
                    <p class="count-number">03</p>
                    <h4 class="heading-title marg-heig">We make deals and collect your funding together.</h4>
                    <p class="heading-text marg-heig">Pellentesque eu tincidunt tortor aliquam nulla facilisi. Lectus
                        magna
                        fringilla urna porttitor
                        rhoncus dolor purus. Pretium fusce id velit ut tortor pretium. Sed odio morbi quis commodo odio
                        aenean sed.</p>
                </div>

            </div>
        </div>
    </section>

    <!-- *********************************** END: 2ND SECTION ********************************************* -->
    <!--************************************ START: FOOTER SECTION *****************************************-->

    <footer class="footer-color">

        <hr class="horizontal dark mb-5">
        <div class="container">
            <div class=" row col_d">

                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border remove-line">
                            <a href="../Industries_Services/Industries.html"
                                class="subtf_pa left-m-10"><span>Industries</span><span><i
                                        class="fa fa-sort-desc subtf_pa left-m-210 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content footer-list">
                            <ul>
                                <li style="list-style-type: none">
                                    <a href="../Industries_Services/Banking-&-financial_services.html"><span>
                                            Banking & Financial Services</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="../Industries_Services/Automotive_Services.html"><span>
                                            Automotive Services </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span>IT Solution</span></a> -->
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border remove-line">
                            <a href="../Services/Services.html" class="subtf_pa left-m-10">
                                <span>Services</span><span><i
                                        class="fa fa-sort-desc subtf_pa left-m-230 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content footer-list">
                            <ul>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span> Consulting Services</span></a> -->
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span> Cloud Computing </span></a> -->
                                </li>
                                <li style="list-style-type: none">
                                    <a href="../Services/artificial_intelligence.html"><span> Artificial
                                            Intelligence</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="../Services/web_development.html"><span> Web Development
                                        </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="../Services/Desktop_&_Mobile_ Applications.html"><span>Desktop &
                                            Mobile Applications </span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border remove-line">
                            <a href="../technologies/Technologies.html"
                                class="subtf_pa left-m-10"><span>Technologies</span><span><i
                                        class="fa fa-sort-desc subtf_pa left-m-175 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content footer-list">
                            <ul>
                                <li style="list-style-type: none">
                                    <a href="http://cascaron.org" target="_blank"><span> Cascaron Frameworks </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="http://xlvm.org" target="_blank"><span> XLVM Foundation</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span>Java</span></a> -->
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span> JavaScript frameworks</span></a> -->
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span>Apache Kafka</span></a> -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border">
                            <a class="subtf_pa left-m-10">BCS IT Solutions<span><i
                                        class="fa fa-sort-desc subtf_pa left-m-275 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content footer-list">
                            <ul>
                                <li style="list-style-type: none">
                                    <a href="../meet_us.html"><span> MeetUs</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span>Career</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span> Blog </span></a>
                                </li>

                                <!-- <li style="list-style-type: none">
                                    <a href="#"><span> Our Privacy & Policy </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span> Careers </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span> Events </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span> location </span></a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator-f"></div>
        <div class="col-12 " style="margin-bottom:80px">
            <ul class="nav left-m-40 footer-section">
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Accessibility Statements</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Cookies Policy</a></li>
                <li><a href="#">Covid 19 Notice</a></li>
                <li><a href="#">Sitemap</a></li>

            </ul>
        </div>
        <div class="text-center">
            <p class="subtf fwc_pa f_ms ">
                All rights reserved. Copyright © 2021 by Boostinorbit.com
            </p>

        </div>
    </footer>

    <!--************************************ END: FOOTER SECTION *****************************************-->



</body>

</html>