<!DOCTYPE html>
<html lang="en">

<head>
    <title>BCS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="icon" href="../BSC_logo_no_bg (1).svg" type="image/x-icon">
    <link rel="stylesheet" href="../Industries_Services/automotive_services.css">





</head>

<body>

    <div class="header ">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-md d-flex align-items-center top-marg-10 ">
                    <h6 class="size-15"><i class="fa fa-phone">
                        </i>Need any help? Talk to expert : +91 9620 35 4720</h6>
                </div>
                <div class="col-12 col-md d-flex justify-content-md-end">
                    <ul class="nav">
                        <li><a class="size-15" href="#">Media Center</a></li>
                        <li><a class="size-15" href="#">Contact Us</a></li>
                        <li><a class="size-15" href="#">Career</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top top-m-140">
        <a class="navbar-brand">
            <img src="../BSC_logo_no_bg.svg " class="navbar-brand" alt="BCS">
        </a>
        <button type="button" class="navbar-toggler custom-btn" data-toggle="collapse" data-target="#menu">
            <div class="line-menubar"></div>
            <div class="line-menubar"></div>
            <div class="line-menubar"></div>
        </button>
        <div class="navbar-nav  collapse navbar-collapse  margin-right-40" id="menu">
            <div class="navbar-nav mx-auto nav_responsive margin-right-40">
                <a href="../index.html" class="fwc_pa">Home</a>
                <a href="#" class="fwc_pa">Docs</a>
                <a href="../meet_us.html" class="fwc_pa">About</a>
                <a href="#" class="fwc_pa">Download</a>
                <a href="#" class="fwc_pa">Certifications</a>
                <a href="#" class="fwc_pa">Feedback</a>
            </div>
        </div>
    </div>

    <!-- *********************************** START: BANNER SECTION ********************************************* -->
    <div class="banner ban-img">
        <div class="banner-color">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-6 col-sm-12 col-md-6">
                        <div class="top-m-1001 left-m-25">
                            <p class="digit_text"> Automotive Services</p>
                            <p class="first_text">We are experienced professionals who understand that It services
                                is changing, and are true partners who care about your success. </p>
                            <a class="main_btn" href="#" style=" text-decoration: none;">
                                More About Us
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-md-6">
                        <div class="banner-image">
                            <img src="../automotive_banne-img.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- *********************************** END: BANNER SECTION ********************************************* -->

    <!-- *********************************** START: 1st SECTION ********************************************* -->
    <section class="banner1">
        <div class="auto-container">
            <div class="sec-title centered">
                <div class="icon">
                    <i class="fa fa-home"></i>
                </div>
                <div class="title">Right Partner for Software Innovation</div>
                <h1>We Deliver Our Best Solution With <br>The Goal of Trusting</h1>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="side-bar-area scr-1024">
                        <div class="side-bar-widget">
                            <div class="left-20">
                                <div class="top-m-30">
                                    <h2>Industries</h2>
                                </div>
                                <div class="icon">
                                    <ul>
                                        <li>
                                            <i class="margin-right-10 fa fa-angle-double-right"></i>
                                            <a href="../Industries_Services/Banking-&-financial_services.html"
                                                target="_blank">Banking & Financial Services</a>
                                        </li>
                                        <li>
                                            <i class="margin-right-10 fa fa-angle-double-right"></i>

                                            <a href="../Industries_Services/Automotive_Services.html">Automotive
                                                Services</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="top-m-150 side-bar-area">
                        <div class="left-20">
                            <div class="top-m-30">
                                <h2>About Us</h2>
                            </div>
                            <div class="blog-gallery">
                                <div class="block-image">
                                    <img src="../it_sol-ban3-3.jpg" alt="image">
                                </div>
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                    piece orem Ipsum is not simply random text. It has roots in a piece of loream
                                    classical.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class=" side-bar-area top-m-100 ">
                        <div>
                            <div class="blog-gallery">
                                <div class="block-image2">
                                    <div class="block-color">
                                        <div class="container">
                                            <div class="row top-m-100">
                                                <div class="left-20">
                                                    <h6> How Can We Help?</h6>
                                                    <p> If you any helps please feel free to contact us.</p>
                                                    <p><i class="fa fa-phone"></i>+91 9620 35 4720 </p>
                                                    <p class="fa-icon"><i
                                                            class="fa fa-envelope"></i>info@example@gmail.com</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="col-lg-8 col-md-12">
                    <div class="row top-m-50">
                        <div class="col-lg-6 col-md-8 col-sm-10">

                            <div>
                                <img src="../automotive-banner1-img01.png" class="image2" alt="Images">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-10 ">
                            <h2>Our Services</h2>
                            <p class="text">There are many variations of passages of Lorem Ipsum available, but the
                                majority have suffered alteration.</p>
                            <ul class="icon-border margin-left-40">
                                <li>
                                    <div>
                                        <i class="fa fa-check margin-right-15"></i>
                                    </div>
                                    <div style="margin-left: 40px;">
                                        <p>Efficiently manage and govern ongoing operations of analytics processes</p>
                                    </div>
                                </li>
                                <li><i class="fa fa-check margin-right-15"></i>
                                    <p style="margin-left: 40px;">Access on-demand data scientists to quickly scale your
                                        analytics team</p>
                                </li>
                                <li><i class="fa fa-check margin-right-15"></i>
                                    <p style="margin-left: 40px;">Rapid time to insight</p>
                                </li>
                                <li><i class="fa fa-check margin-right-15"></i>
                                    <p style="margin-left: 40px;">Lower operating cost and business risk</p>
                                </li>
                            </ul>
                        </div>
                        <div class="text top-m-50">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered alteration in some form, by injected humour, or randomised words which don’t
                                look even slightly believable. If you are going to use a passage of Lorem Ipsum, you
                                need to be sure there isn’t anything.</p>
                        </div>
                    </div>

                    <div class="row top-m-50">
                        <h2>Transition</h2>
                        <p class="text">There are many variations of passages of Lorem Ipsum available, but the majority
                            have suffered alteration in some form, by injected humour, or randomised words which don’t
                            look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to
                            be sure there isn’t anything embarrassing hidden in the middle of text.</p>
                        <div class="col-lg-6 col-md-12 top-m-50">
                            <ul class="icon-border">
                                <li>
                                    <div>
                                        <i class="fa fa-check margin-right-15"></i>
                                    </div>
                                    <div style="margin-left: 40px;">
                                        <p>Efficiently Manage And Govern Ongoing Operations Of Analytics Processes</p>
                                    </div>
                                </li>
                                <li><i class="fa fa-check margin-right-15"></i>
                                    <p style="margin-left: 40px;">Access on-demand data scientists to quickly scale your
                                        analytics team</p>
                                </li>
                                <li><i class="fa fa-check margin-right-15"></i>
                                    <p style="margin-left: 40px;">Rapid time to insight</p>
                                </li>
                                <li><i class="fa fa-check margin-right-15"></i>
                                    <p style="margin-left: 40px;">Lower operating cost and business risk</p>
                                </li>
                            </ul>

                        </div>
                        <div class="col-lg-6 col-md-12 ">
                            <ul class="icon-border">
                                <li>
                                    <div>
                                        <i class="fa fa-check margin-right-15"></i>
                                    </div>
                                    <div style="margin-left: 40px;">
                                        <p>Efficiently manage and govern ongoing operations of analytics processes</p>
                                    </div>
                                </li>
                                <li><i class="fa fa-check margin-right-15"></i>
                                    <p style="margin-left: 40px;">Access on-demand data scientists to quickly scale your
                                        analytics team</p>
                                </li>
                                <li><i class="fa fa-check margin-right-15"></i>
                                    <p style="margin-left: 40px;">Rapid time to insight</p>
                                </li>
                                <li><i class="fa fa-check margin-right-15"></i>
                                    <p style="margin-left: 40px;">Lower operating cost and business risk</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- *********************************** END:1st SECTION ********************************************* -->
    <!-- *********************************** START:- 2ND SECTION ********************************************* -->

    <section class="banner2">
        <div class="auto-container">
            <div class="sec-title centered">
                <h1>Our Core Features</h1>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis <br> accumsan nisi Ut ut felis
                        congue nisl hendrerit commodo.</p>
                </div>
            </div>
            <div class="row top-m-100">
                <div class="col-lg-6 col-md-10 col-sm-10">
                    <div class="banner2-image">
                        <img src="../automotive-banner2-sec2-img01.svg" alt="Images">
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-10">
                    <div class="row" style="margin-left:15px;">
                        <div class="box-container">
                            <div class="icon">
                                <i class="fa fa-handshake" style="margin-top: 30px;"></i>
                            </div>
                            <div class="margin-t-l">
                                <h6>Measure The Customer Experience</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium modi assumenda
                                    beatae.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row top-m-50" style="margin-left:15px;">
                        <div class="box-container">
                            <div class="icon">
                                <i class="fa  fa-podcast" style="margin-top: 30px;"></i>
                            </div>
                            <div class="margin-t-l">
                                <h6>Multi-Device Testing Made Simple</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati aut repudiandae
                                    harum, fugit</p>
                            </div>
                        </div>
                    </div>
                    <div class="row top-m-50" style="margin-left:15px;">
                        <div class="box-container">
                            <div class="icon">
                                <i class="fa fa-snowflake-o" style="margin-top: 30px;"></i>
                            </div>
                            <div class="margin-t-l">
                                <h6>Launch Quickly With Reusable Templates</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium modi assumenda
                                    beatae.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </section>

    <!-- *********************************** END:- 2ND SECTION ********************************************* -->

    <!-- *********************************** START:- 3rd SECTION ********************************************* -->


    <section class="banner3">
        <div class="services-section">
            <div class="auto-container">
                <div class="sec-title centered top-m-50">
                    <h1>Our Services</h1>
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis <br> accumsan nisi Ut ut
                            felis congue nisl hendrerit commodo.</p>
                    </div>

                </div>
                <div class="row top-m-100">
                    <div class="service-block col-lg-4 col-md-6 col-sm-6">

                        <div class="inner-box">
                            <div class=" border-box1"></div>
                            <div class="icon">
                                <i class="fa fa-users"></i>
                            </div>
                            <h4><a href="#">Enterprise Job Scheduling</a></h4>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque quam,
                                maxi ut accumsan ut, posuere sit Lorem ipsum quam, maximus ut accumsan.</div>
                            <div class="border-box"></div>
                        </div>

                    </div>

                    <div class="service-block col-lg-4 col-md-6 col-sm-6">
                        <div class="inner-box">
                            <div class="border-box"></div>
                            <div class="icon">
                                <i class="fa fa-cogs"></i>
                            </div>
                            <h4><a href="#">Dynamic Workload Automation</a></h4>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque quam,
                                maxi ut accumsan ut, posuere sit Lorem ipsum quam, maximus ut accumsan.</div>
                            <div class=" border-box1"></div>

                        </div>
                    </div>

                    <div class="service-block col-lg-4 col-md-6 col-sm-6">
                        <div class="inner-box">
                            <div class="border-box"></div>
                            <div class="icon ">
                                <i class="fa fa-cloud"></i>
                            </div>
                            <h4><a href="#">AI Cloud <br>Automation</a></h4>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque quam,
                                maxi ut accumsan ut, posuere sit Lorem ipsum quam, maximus ut accumsan.</div>
                            <div class=" border-box1"></div>

                        </div>
                    </div>

                </div>

                <div class="row top-m-20">
                    <div class="service-block col-lg-4 col-md-6 col-sm-6">

                        <div class="inner-box">
                            <div class=" border-box1"></div>
                            <div class="icon">
                                <i class="fa fa-database"></i>
                            </div>
                            <h4><a href="#">Big Data and Hadoop Automation</a></h4>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque quam,
                                maxi ut accumsan ut, posuere sit Lorem ipsum quam, maximus ut accumsan.</div>
                            <div class="border-box"></div>
                        </div>

                    </div>

                    <div class="service-block col-lg-4 col-md-6 col-sm-6">
                        <div class="inner-box">
                            <div class="border-box"></div>
                            <div class="icon">
                                <i class="fab fa-skyatlas"></i>
                            </div>
                            <h4><a href="#">Hybrid Cloud File Transfers</a></h4>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque quam,
                                maxi ut accumsan ut, posuere sit Lorem ipsum quam, maximus ut accumsan.</div>
                            <div class=" border-box1"></div>

                        </div>
                    </div>

                    <div class="service-block col-lg-4 col-md-6 col-sm-6">
                        <div class="inner-box">
                            <div class="border-box"></div>
                            <div class="icon ">
                                <i class="fa fa-pie-chart "></i>
                            </div>
                            <h4><a href="#">AI ChatBots <br> Creation</a></h4>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque quam,
                                maxi ut accumsan ut, posuere sit Lorem ipsum quam, maximus ut accumsan.</div>
                            <div class=" border-box1"></div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>





    <!-- *********************************** END:- 3rd SECTION ********************************************* -->


    <!--************************************ START: FOOTER SECTION *****************************************-->

    <footer class="footer-color">

        <hr class="horizontal dark mb-5">
        <div class="container">
            <div class=" row col_d">

                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border remove-line">
                            <a href="../Industries_Services/Industries.html"
                                class="subtf_pa left-m-10"><span>Industries</span><span><i
                                        class="fa fa-sort-desc subtf_pa left-m-210 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content footer-list">
                            <ul>
                                <li style="list-style-type: none">
                                    <a href="../Industries_Services/Banking-&-financial_services.html"><span>
                                            Banking & Financial Services</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="../Industries_Services/Automotive_Services.html"><span>
                                            Automotive Services </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span>IT Solution</span></a> -->
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border remove-line">
                            <a href="../Services/Services.html" class="subtf_pa left-m-10"><span>Services
                                </span><span><i class="fa fa-sort-desc subtf_pa left-m-230 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content footer-list">
                            <ul>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span> Consulting Services</span></a> -->
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span> Cloud Computing </span></a> -->
                                </li>
                                <li style="list-style-type: none">
                                    <a href="../Services/artificial_intelligence.html"><span> Artificial
                                            Intelligence</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="../Services/web_development.html"><span> Web Development
                                        </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="../Services/Desktop_&_Mobile_ Applications.html"><span>Desktop &
                                            Mobile Applications </span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border remove-line">
                            <a href="../technologies/Technologies.html"
                                class="subtf_pa left-m-10"><span>Technologies</span><span><i
                                        class="fa fa-sort-desc subtf_pa left-m-175 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content footer-list">
                            <ul>
                                <li style="list-style-type: none">
                                    <a href="http://cascaron.org" target="_blank"><span>Cascaron Frameworks </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="http://xlvm.org" target="_blank"><span> XLVM Foundation</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span>Java</span></a> -->
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span> JavaScript frameworks</span></a> -->
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span>Apache Kafka</span></a> -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border">
                            <a class="subtf_pa left-m-10">BCS IT Solutions<span><i
                                        class="fa fa-sort-desc subtf_pa left-m-275 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content footer-list">
                            <ul>
                                <li style="list-style-type: none">
                                    <a href="../meet_us.html"><span> MeetUs</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span>Career</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span> Blog </span></a>
                                </li>
                                <!-- <li style="list-style-type: none">
                                    <a href="#"><span> Our Privacy & Policy </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span> Careers </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span> Events </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span> location </span></a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator-f"></div>
        <div class="col-12 " style="margin-bottom:80px">
            <ul class="nav left-m-40 footer-section">
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Accessibility Statements</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Cookies Policy</a></li>
                <li><a href="#">Covid 19 Notice</a></li>
                <li><a href="#">Sitemap</a></li>

            </ul>
        </div>
        <div class="text-center">
            <p class="subtf fwc_pa f_ms ">
                All rights reserved. Copyright © 2021 by Boostinorbit.com
            </p>

        </div>
    </footer>

    <!--************************************ END: FOOTER SECTION *****************************************-->


</body>

</html>