<!DOCTYPE html>
<html lang="en">

<head>
    <title>BCS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="icon" href="../BSC_logo_no_bg (1).svg" type="image/x-icon">
    <link rel="stylesheet" href="../Industries_Services/banking-&-financial_services.css">

</head>

<body>

    <div class="header ">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-md d-flex align-items-center top-marg-10 ">
                    <h6 class="size-15"><i class="fa fa-phone">
                        </i>Need any help? Talk to expert : +91 9620 35 4720</h6>
                </div>
                <div class="col-12 col-md  d-flex justify-content-md-end">
                    <ul class="nav ">
                        <li><a class="size-15" href="#">Media Center</a></li>
                        <li><a class="size-15" href="#">Contact Us</a></li>
                        <li><a class="size-15" href="#">Career</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top top-m-140">
        <a class="navbar-brand">
            <img src="../BSC_logo_no_bg.svg " class="navbar-brand" alt="BCS">
        </a>
        <button type="button" class="navbar-toggler custom-btn" data-toggle="collapse" data-target="#menu">
            <div class="line-menubar"></div>
            <div class="line-menubar"></div>
            <div class="line-menubar"></div>
        </button>
        <div class="navbar-nav  collapse navbar-collapse  margin-right-40" id="menu">
            <div class="navbar-nav mx-auto nav_responsive margin-right-40">
                <a href="../index.html" class="fwc_pa">Home</a>
                <a href="#" class="fwc_pa">Docs</a>
                <a href="../meet_us.html" class="fwc_pa">About</a>
                <a href="#" class="fwc_pa">Download</a>
                <a href="#" class="fwc_pa">Certifications</a>
                <a href="#" class="fwc_pa">Feedback</a>
            </div>
        </div>
    </div>

    <!-- *********************************** START: BANNER SECTION ********************************************* -->
    <div class="banner ban-img">
        <div class="banner-color">
            <div class="container">
                <div class="row centered1 ">
                    <div class="top-m-100 left-m-25">
                        <p class="digit_text">Welcome to Banking & Financial Services</p>
                        <p class="first_text">We are experienced professionals who understand that It services is
                            changing, and are true partners who care about your success.<br> Our team provides a
                            consultative approach on emerging technology </p>
                        <a class="main_btn" href="#" style=" text-decoration: none;">
                            More About Us
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- *********************************** END: BANNER SECTION ********************************************* -->
    <!-- *********************************** START: 1st SECTION ********************************************* -->

    <section class="banner1">
        <div class="container">
            <div class="row top-m-100 bottom-m">
                <div class="col-lg-6 col-sm-12 col-md-12">
                    <div class="section-img">
                        <img src="../bankin-&-fincal-image-banner2.jpg" alt="image">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-md-12">
                    <div class=" section-title">
                        <h2>History of Ours</h2>
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum ligula quis
                                libero
                                eleifend lobortis. Donec aliquam odio magna, pellentesque tempus dui dictum non.
                                Integer
                                sit
                                amet nisi id neque condimentum eu nec urna. Aliquam vestibulum fringilla massa.
                                Donec
                                pulvinar
                                augue in blandit elementum. </p>
                            <p>
                                Nam vel ultrices erat, sit amet eget eleifend lorem. Etiam finibus efficitur
                                commodo.
                                Praesent a
                                sem elementum, pulvinar nulla nec, luctus sapien.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>




    <!-- *********************************** END: 1ST SECTION ********************************************* -->


    <!-- *********************************** START: 2nd SECTION ********************************************* -->

    <section class="banner2">
        <div class="auto-container">
            <div class="sec-title centered">
                <div class="icon">
                    <i class="fa fa-home"></i>
                </div>
                <div class="title">Right Partner for Software Innovation</div>
                <h1>We Deliver Our Best Solution With <br>The Goal of Trusting</h1>
            </div>

            <div class="row">
                <div class="col-lg-4 col-xl-4">
                    <div class="side-bar-area scr-1024">
                        <div class="side-bar-widget">
                            <div class="left-20">
                                <div class="top-m-30">
                                    <h2>Industries</h2>
                                </div>
                                <div class="icon">
                                    <ul>
                                        <li>
                                            <i class="margin-right-10 fa fa-angle-double-right"></i>
                                            <a href="../Industries_Services/Banking-&-financial_services.html">Banking &
                                                Financial Services</a>
                                        </li>
                                        <li>
                                            <i class="margin-right-10 fa fa-angle-double-right"></i>
                                            <a href="../Industries_Services/Automotive_Services.html"
                                                target="_blank">Automotive Services</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="top-m-150 side-bar-area">
                        <div class="left-20">
                            <div class="top-m-30">
                                <h2>About Us</h2>
                            </div>
                            <div class="blog-gallery">
                                <div class="block-image">
                                    <img src="../it_sol-ban3-3.jpg" alt="image">
                                </div>
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                    piece orem Ipsum is not simply random text. It has roots in a piece of loream
                                    classical.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class=" side-bar-area top-m-100 ">
                        <div>
                            <div class="blog-gallery">
                                <div class="block-image2">
                                    <div class="block-color">
                                        <div class="container">
                                            <div class="row top-m-100">
                                                <div class="left-15">
                                                    <h6> How Can We Help?</h6>
                                                    <p> If you any helps please feel free to contact us.</p>
                                                    <p><i class="fa fa-phone"></i>+91 9620 35 4720 </p>
                                                    <p class="fa-icon"><i
                                                            class="fa fa-envelope"></i>info@example@gmail.com</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row top-m-50">
                        <div class="col-lg-6 col-md-12 col-sm-10">
                            <h2>Why Fintech?</h2>
                            <p class="text">Nam blandit elit odio, eu placerat diam condimentum id. Sedquis tristique
                                nulla. Etiam sit amet risus augue. Nunc sit amet faucibus risus. Proin viverra nec nisi
                                ut congue. Donec viverra elementum tortor in bibendum. Sed at eros sagittis nunc
                                pellentesque.</p>
                            <div>
                                <img src="../banking-sec2-img01.jpg" class="image2" alt="Images">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-10 top-m-66">
                            <p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem
                                Ipsum has been the industry’s standard dummy text ever since the 1500s standard
                                dummy text ever since the 1500s.</p>
                            <div class="top-m-80">
                                <h2>Key Fintech insurance benefits</h2>
                            </div>
                            <ul class="icon-border top-mm-10">
                                <li>
                                    <div>
                                        <i class="fa fa-check margin-right-15"></i>
                                    </div>
                                    <div style="margin-left: 40px;">
                                        <p> Mauris turpis augue, facilisis rutrum
                                            diam pellentesque, fringilla ornare eros. Vivamus fermentum accumsan cursus
                                        </p>
                                    </div>
                                </li>
                                <li><i class="fa fa-check margin-right-15"></i>
                                    <p style="margin-left: 40px;">Quisque hendrerit tellus quis mi
                                        venenatis cursus sed sit amet ipsum odio porttitor lobortis.</p>
                                </li>
                                <li><i class="fa fa-check margin-right-15"></i>
                                    <p style="margin-left: 40px;">Phasellus volutpat ligula sed mollis
                                        sodales.</p>
                                </li>
                                <li><i class="fa fa-check margin-right-15"></i>
                                    <p style="margin-left: 40px;">Mauris nisl lorem, accumsan vitae
                                        aliquam quis, viverra nec nibh semper sit amet ipsum.
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row top-m-50">
                        <div class="col-lg-6 col-md-12 col-sm-10">
                            <h2>Tailored Insurance</h2>
                            <p class="text">Easier way to interact with healthcare rhoncus tempus. Vestibulum nec semper
                                nisi. Ut eu ipsum imperdiet, semper nulla sed. Nunc tincidunt quam ut lectus.</p>
                            <div>
                                <img src="../banking-sec2-img02.jpg" class="image2" alt="Images">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-10 top-m-66">
                            <p class="text">Nam blandit elit odio, eu placerat diam condimentum id. Sedquis tristique
                                nulla. Etiam sit amet risus augue. Nunc sit amet faucibus risus.</p>
                            <div class="top-m-80">
                                <h2>Smarter healthcare plans</h2>
                            </div>
                            <ul class="icon-border top-mm-10">
                                <li>
                                    <div>
                                        <i class="fa fa-check margin-right-15"></i>
                                    </div>
                                    <div style="margin-left: 40px;">
                                        <p> Phasellus volutpat ligula sed mollis sodales.
                                        </p>
                                    </div>
                                </li>
                                <li><i class="fa fa-check margin-right-15"></i>
                                    <p style="margin-left: 40px;">Quisque hendrerit tellus quis mi venenatis cursus sed
                                        sit amet ipsum odio porttitor lobortis.</p>
                                </li>
                                <li><i class="fa fa-check margin-right-15"></i>
                                    <p style="margin-left: 40px;">Mauris turpis augue, facilisis rutrum diam
                                        pellentesque, fringilla ornare eros. Vivamus fermentum accumsan cursus.</p>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="row top-m-50">
                        <div class="col-lg-12 col-md-12 col-sm-10">
                            <h2>Available for Everyone</h2>
                            <p class="text">Fusce sodales magna vitae rhoncus tempus. Vestibulum nec semper nisi. Ut eu
                                ipsum imperdiet, semper nulla sed, risus bibendum . Nunc tincidunt quam ut lectus. Etiam
                                sit amet risus augue. Nunc sit amet faucibus risus.</p>

                        </div>
                        <!-- <div class="col-lg-6 col-md-12 centered">

                            <a class="main_btn" href="#" style=" text-decoration: none;">
                                Get Your Quote
                            </a>
                        </div> -->
                    </div>

                </div>



            </div>
        </div>
    </section>
    <!-- *********************************** END:2nd SECTION ********************************************* -->
    <!-- *********************************** START:- 3rd SECTION ********************************************* -->

    <section class="banner3">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="section3-block">
                        <div class="content-title">
                            <h2>WHY CHOOSE US</h2>
                            <div class="text">
                                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id
                                    quod
                                    mazim placerat facer possim assum
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="box-container">
                                <div class="icon">
                                    <i class=" border1 fa  fa-leaf" style="margin-top: 30px;"></i>
                                </div>
                                <div style="margin-left:75px; margin-top: -70px;">
                                    <h6>CREATIVE FEATURED</h6>
                                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                                        consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan
                                        et iusto adio dignissim.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="box-container">
                                <div class="icon">
                                    <i class="fa fa-sitemap  " style="margin-top: 30px;"></i>
                                </div>
                                <div style="margin-left:75px; margin-top: -70px;">
                                    <h6>EFFECTIVE GUIDANCE</h6>
                                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                                        consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan
                                        et iusto adio dignissim.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="box-container">
                                <div class="icon">
                                    <i class="fa fa-smile-o" style="margin-top: 30px;"></i>
                                </div>
                                <div style="margin-left:75px; margin-top: -70px;">
                                    <h6>24/7 SUPPORT</h6>
                                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                                        consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan
                                        et iusto adio dignissim.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <!-- *********************************** END:- 3rd SECTION ********************************************* -->

    <!--************************************ START: FOOTER SECTION *****************************************-->

    <footer class="footer-color">

        <hr class="horizontal dark mb-5">
        <div class="container">
            <div class=" row col_d">

                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border remove-line">
                            <a href="../Industries_Services/Industries.html"
                                class="subtf_pa left-m-10"><span>Industries</span><span><i
                                        class="fa fa-sort-desc subtf_pa left-m-210 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content footer-list">
                            <ul>
                                <li style="list-style-type: none">
                                    <a href="../Industries_Services/Banking-&-financial_services.html"><span> Banking &
                                            Financial Services</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="../Industries_Services/Automotive_Services.html"><span> Automotive Services
                                        </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span>IT Solution</span></a> -->
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border remove-line">
                            <a href="../Services/Services.html" class="subtf_pa left-m-10"><span>Services</span><span><i
                                        class="fa fa-sort-desc subtf_pa left-m-230 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content footer-list">
                            <ul>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span> Consulting Services</span></a> -->
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span> Cloud Computing </span></a> -->
                                </li>
                                <li style="list-style-type: none">
                                    <a href="../Services/artificial_intelligence.html"><span> Artificial
                                            Intelligence</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="../Services/web_development.html"><span> Web Development</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="../Services/Desktop_&_Mobile_ Applications.html"><span>Desktop & Mobile
                                            Applications </span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border remove-line">
                            <a href="../technologies/Technologies.html"
                                class="subtf_pa left-m-10"><span>Technologies</span><span><i
                                        class="fa fa-sort-desc subtf_pa left-m-175 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content footer-list">
                            <ul>
                                <li style="list-style-type: none">
                                    <a href="http://cascaron.org" target="_blank"><span> Cascaron Frameworks </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="http://xlvm.org" target="_blank"><span> XLVM Foundation</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span>Java</span></a> -->
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span> JavaScript frameworks</span></a> -->
                                </li>
                                <li style="list-style-type: none">
                                    <!-- <a href="#"><span>Apache Kafka</span></a> -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-6 mb-4">
                    <div class="dropdown">
                        <div class="btn-border">
                            <a class="subtf_pa left-m-10">BCS IT Solutions<span><i
                                        class="fa fa-sort-desc subtf_pa left-m-275 auto-hide-downcursor"
                                        aria-hidden="true"></i></span></a>
                        </div>
                        <div class=" separator auto-hide"></div>
                        <div class="dropdown-content footer-list">
                            <ul>
                                <li style="list-style-type: none">
                                    <a href="../meet_us.html"><span> MeetUs</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span>Career</span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span> Blog </span></a>
                                </li>
                                <!-- <li style="list-style-type: none">
                                    <a href="#"><span> Our Privacy & Policy </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span> Careers </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span> Events </span></a>
                                </li>
                                <li style="list-style-type: none">
                                    <a href="#"><span> location </span></a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator-f"></div>
        <div class="col-12 " style="margin-bottom:80px">
            <ul class="nav left-m-40 footer-section">
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Accessibility Statements</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Cookies Policy</a></li>
                <li><a href="#">Covid 19 Notice</a></li>
                <li><a href="#">Sitemap</a></li>

            </ul>
        </div>
        <div class="text-center">
            <p class="subtf fwc_pa f_ms ">
                All rights reserved. Copyright © 2021 by Boostinorbit.com
            </p>

        </div>
    </footer>

    <!--************************************ END: FOOTER SECTION *****************************************-->


</body>

</html>